<section>
    <div class="industries-firstsection">
      
        <div class="position-absolute">
          <div class="industry-heading">Cultivating a Brighter Future</div>
          <div class="industry-sub-heading-1">Innovatiq Partners with Companies, Monitoring, Valuing, and Catalyzing Actions for Positive Environmental Impact...</div>
          <!-- <div class="button-1"><button type="button" class="button-align btn btn-warning">Warning</button></div> -->
          <!-- <div class="industries-header-buttons"><button type="button" class="button-industries-header-last"><span class="button-text">Learn More   
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
          </span></button>
           
          </div> -->
          <div class="arrow1"><img src="/assets/industries/Arrow 22.png" alt=""></div>
           
         
        </div>
        <img src="/assets/industries/Industried_background.png" class="card-img-top card-header-image-1" alt="...">
      </div>
   </section>
   <section>
    <div>
        <div class="card-group card-group-1" style="margin-top: -50px;">
           <span class="arrow2"><img src="/assets/industries/Arrow 24.png" alt=""></span>
            <div class="card service-cards" style="border-radius: 30px 30px 0px 0px; margin-left: 0px;">
              <img src="/assets/industries/Industries-01.png" class="card-img-top service-card-image" alt="...">
              <div class="card-body">
                <p class="service-card-title">Manufacturing</p>
                <p class="service-card-text">Embarking on a Profound Exploration of Extensive Data Resources: Providing Transformative Solutions to Maximize Data Utility and Value...</p>
                <div class="service-card-buttons"><button type="button" class="button-service-card-last"><span class="button-text">Learn More      
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
                </span></button></div>
              </div>
            </div>
            <div class="card service-cards" style="border-radius: 30px 30px 0px 0px;margin-right: 75px;margin-left: 20px;">
              <img src="/assets/industries/Indus-HealthCare-02.png" class="card-img-top service-card-image" alt="...">
              <div class="card-body">
                <p class="service-card-title">Healthcare</p>
                <p class="service-card-text">Our digital platform is a “Go Green” approach and it has empowered hospitals and clinics in implementing paperless... </p>
                <div class="service-card-buttons"><button type="button" class="button-service-card-last"><span class="button-text">Learn More      
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
                </span></button></div>
              </div>
            </div>
          
          </div>
          <div class="card-group">
            <div class="card service-cards" style="border-radius: 30px 30px 0px 0px; margin-left: 60px;">
              <img src="/assets/industries/Indus-Retail-03.png" class="card-img-top service-card-image" alt="...">
              <div class="card-body">
                <p class="service-card-title">Retail</p>
                <p class="service-card-text">Empowering Business Pioneers: Embracing Tailored Information Technology Solutions for Strategic Empowerment...</p>
                <div class="service-card-buttons"><button type="button" class="button-service-card-last"><span class="button-text">Learn More        
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
                </span></button></div>
              </div>
            </div>
            <div class="card service-cards" style="border-radius: 30px 30px 0px 0px; margin-right: 0px;margin-left: 20px;">
              <img src="/assets/industries/Indus-Education-04.png" class="card-img-top service-card-image" alt="...">
              <div class="card-body">
                <p class="service-card-title">Education</p>
                <p class="service-card-text">Our LMS Solution offers Enhanced Customizations and Configurations for a Powerful and Scalable Learning Experience...</p>
                <div class="service-card-buttons"><button type="button" class="button-service-card-last"><span class="button-text">Learn More      
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
                </span></button></div>
              </div>
            </div>
            <span class="arrow3"><img src="/assets/industries/Arrow 24.png" alt=""></span>
          </div>
    </div>
   </section>
   <section class="container">
    <div class="card mb-3 industries-bfs" style="width: 102%;margin-left: -20px;">
        <img src="/assets/industries/Indus-BSFI-05.png" class="card-img-top bfs-image" alt="..." >
        <div class="card-body">
          <div class="bfsi-title">Banking & Finance (BFSI)</div>
          <p class="bfsi-sub-text">Leveraging Advanced Technologies: Unraveling Business Challenges in Financial Institutions through AI, ML, <br> and RPA-Enabled Big Data Analytics...</p>
          <div class="bfsi-buttons"><button type="button" class="button-bfsi-last"><span class="button-text">Learn More       
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
          </span></button></div>
        </div>
      </div>
   </section>

   <section>
    <div class="bg-overlay">
      <div class="row text-left mission">
        <div class="heading-service-challenge">Our Service Challenges</div>
        <div class="sub-service-challenge">Make the product</div>
        <div class="sub-service-challenge-2">User Friendly...</div>
        <div class="service-buttons"><button type="button" class="button-service-last"><span class="button-text">Service Challenges        
           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
        </span></button></div>
      </div>
  </div>
    <!-- <div class="card  industries-lastsection">
        <img src="/assets/industries/20190226115529-office-3295556 1.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <div class="heading-service-challenge">Our Service Challenges</div>
          <div class="sub-service-challenge">Make the product</div>
          <div class="sub-service-challenge-2">User Friendly...</div>
          <div class="service-buttons"><button type="button" class="button-service-last"><span class="button-text">Service Challenges        
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
          </span></button></div>
        </div>
      </div> -->
   </section>
