<!-- <app-services-header></app-services-header> -->
<div class="container">
  <div class="row">
    <div class="col-6" style="margin-top: 100px">
      <p>Explore our Career Opportunities</p>
      <h1 style="color: #ff0000">Join our</h1>
      <h1>
        Amazing Team
        <img src="assets/Carrer/x- shape.svg" style="margin: 20px" />
      </h1>
      <p>
        At Innovatiq we treasure our people as they are our most important
        assets. We encourage<br />
        a diverse and inclusive culture working together in an open minded
        environment.
      </p>
      <img src="assets/Carrer/Ellipse-brown.svg" style="margin-left: -75px" />
      <button type="button" class="btn">
        <span class="btn-3"
          >Join Us Now
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: white"
          >
            <path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </span>
      </button>
      <img
        src="assets/Carrer/Arrow.svg"
        style="margin-left: 340px; margin-top: -30px"
      />
    </div>
    <div class="col-6" style="margin-top: -40px">
      <img src="assets/career.png" />
    </div>
  </div>

  <div class="row join">
    <div class="col-2" style="margin-top: -90px; margin-left: -40px">
      <img src="assets/Carrer/Ellipse-yellow.svg" />
    </div>
    <h5 style="color: red">Be a part of our Team</h5>
    <h3>Join us to build your career growth</h3>
    <p>
      Are you enthusiast and passionate about innovation and technology?You are
      a perfect match and we have the right challenges to help you grow, upskill
      to nurture your career.
    </p>
  </div>
  <!-- <div class="col-2" style="padding-top: 90px;">
    <img src="assets/Carrer/Arrow 2.svg" style="margin-left: -70px;">
  </div> -->
  <div class="col-2" style="padding-top: 90px">
    <img src="assets/Carrer/Ellipse-red.svg" style="margin-left: 89.5vw" />
  </div>
  <div class="container-fluid mx-auto">
    <div class="mt-3">
      <h4 style="text-align: center">Tells us more about Yourself</h4>
    </div>
    <form [formGroup]="careerForm"  >
      <div class="row mt-5">
        <div class="col-5 mx-auto">
          <label>Your Name</label>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Enter your name"
              formControlName="name"
            />
          </div>
        </div>
        <div class="col-5 mx-auto">
          <label>Your Phone</label>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Your Number"
              formControlName="phone_number"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5 mx-auto">
          <label>Position</label>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Your Positon"
              formControlName="position"
            />
          </div>
        </div>
        <div class="col-5 mx-auto">
          <label>Brief Profile Description</label>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Type Your Message..."
              formControlName="discription"
              style="height: 100px"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-5 offset-lg-1"
          style="margin-left: 40px; margin-top: -50px"
        >
          <label>Upload Resume</label>
          <div class="input-group mb-3">
            <span class="input-group-text" >
              <input
                type="file"
                class="form-control"
                name="file"
                (change)="resume($event)"
              />
            </span>
          </div>
        </div>
      </div>
      <button class="submit" style="font-size: larger" (click)="register()">
        Submit
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: white"
        >
          <path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </button>
    </form>
  </div>
  <img
    src="assets/Carrer/x- shape.svg"
    style="margin-left: 90.5vw; margin-top: -200px"
  />
  <!-- <div class="row">
    <div class="col-5">
      <p>Our Successes over the years</p>
      <h1 style="color: red;">Stats talk</h1>
      <h1>For themselves</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-4">
      <h6>4.3</h6>
      <h4 style="border-bottom: 2px solid #976924;width: 15%;font-weight: 600;font-family: 'Nunito';">Ratings</h4>
      <p class="sub-paragraph">We have an amazing track record with our employees<br>
        & that is reflected on project ratings.</p>
    </div>
    <div class="col-4">
      <h6>200+</h6>
      <h4 style="border-bottom: 2px solid #976924;width: 10%;font-weight: 600;font-family: 'Nunito';">Employees</h4>
      <p class="sub-paragraph-1">We are growing and building a diverse culture to support<br>
        every team member.</p>
    </div>
    <div class="col-4">
      <h6>150+</h6>
      <h4 style="border-bottom: 2px solid #976924;width: 13%;font-weight: 600;font-family: 'Nunito';">Months</h4>
      <p class="sub-paragraph-2">Longest employee in the company has been with us for<br>
        more than 12 years</p>
    </div>
  </div> -->
  <div class="row mt-5">
    <div class="col-1">
      <img src="assets/Contact-form/down-arrow 2.svg" />
    </div>
    <div class="col-10">
      <img src="assets/aruba.png" stye="width:10vw" />
      <img src="assets/aws.png" stye="width:10vw" />
      <img src="assets/azure.png" stye="width:10vw" />
      <img src="assets/cisco.png" stye="width:10vw" />
      <img src="assets/dell.png" stye="width:10vw" />
      <img src="assets/hcl.png" stye="width:10vw" />
      <img src="assets/Hewlett_Packard_Enterprise.png" stye="width:10vw" />
      <img src="assets/IBM 2.png" stye="width:10vw" />
      <img src="assets/ste.png" stye="width:10vw" />
    </div>
    <div class="col-1">
      <img src="assets/Contact-form/down-arrow 1.svg" />
    </div>
  </div>
  <div class="container bg-overlay">
    <div class="row text-left mission">
      <h1>Vision & Mission</h1>
      <h6>
        Innovatiq's purpose and its primary objectives by Focusing on <br />
        client's goals and employee aspirations.
      </h6>
      <button type="button" class="learn">
        Learn Now
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: white"
        >
          <path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <!-- <div class="image">
    <img src="assets/Career-page/Vission &mission.svg" style="width: 100%;">
    <button type="button" class="learn"><span class="btn-3 text-center">Learn Now<span>
      &#8594; </span></span> </button>
  </div> -->
</div>

<!--  -->
<!-- <div class="rectangle-3"></div>
<div class="logo">
  <img src="assets/innovatiq.png">
</div> -->
<!-- <div class="company">Company <br> Logo</div> -->
<!-- <div class="service">Services</div>
<div class="industries">Industries</div>
<div class="innovatiq">About Innovatiq</div>
<div class="careers">Careers</div>
<div class="line-8"></div>
<div class="contact">Contact</div> -->
<!-- <img style="margin-top: 412px;margin-left: -197px;" src="assets/Arrow24.svg">
<div class="circle"></div>
<div class="ellipse"></div>
<div class="col">
  <div class="career">Explore our Career Opportunities</div>
  <div class="join">Join our</div>
  <div class="team">Amazing Team <div class="line-2"></div>
    <div class="line-3"></div>
  </div>
  <p class="assets">At Innovatiq we treasure our people as they are our most important assets. We encourage<br>
    a diverse and inclusive culture working together in an open minded environment.</p>

  <div class="btn-1"><button type="button" class="btn-2"><span class="btn-3">Join Us Now<span>
          &#8594; </span></span> </button>

  </div>
</div>
<div class="col">
  <img src="assets/career.png">
</div>
<div class="success">Our Successes over the years</div>
<div class="heading">Stats talk</div>
<div class="heading-1">For themselves</div>
<img style="margin-top: 1162px;margin-left: -724px;" src="assets/Arrow23.svg">
<div class="row">
  <p class="Rating">4.3</p>
  <p class="Employees">200+</p>
  <p class="Months">150+</p>
</div>
<img style="margin-top: 1071px;margin-left: 677px;" src="assets/Ellipse29.svg">
<div class="row">
  <p class="Rating-1">Ratings</p>
  <div class="line-4"></div>
  <div class="line-5"></div>
  <p class="Employees-1">Employees</p>
  <p class="Months-1">Months</p>
</div>
<div class="row">
  <p class="paragraph"></p>
  <p class="paragraph-1"></p>
  <p class="paragraph-2"></p>
</div>
<div class="row">
  <p class="sub-paragraph">We have an amazing track record with our employees<br>
    & that is reflected on project ratings.</p>
  <p class="sub-paragraph-1">We are growing and building a diverse culture to support<br>
    every team member.</p>
  <p class="sub-paragraph-2">Longest employee in the company has been with us for<br>
    more than 12 years</p>
</div>
<div class="rectangle">

</div>
<div class="ellipse-1"></div>
<div class="text">Be a part of our Team</div>
<div class="bold-text">Join Us to Build your Carrer Growth</div>
<p class="text-1">Are you enthusiast and passionate about innovation and technology?You are a perfect match and we have
  the right challenges to help you grow,
  upskill to nurture your career</p>
<!-- <div class="row"> -->
<!-- <div class="col"> --
<div class="rectangle-1">

</div>
<div class="line-6"></div>
<div class="line-7"></div>
<div class="title">Job Listing</div>
<div class="sub-title">Full-Time</div>
<p class="line"></p>
<div class="sub-title-1">Remote</div>
<div class="rectangle-2">

</div>
<div class="Title">Posting Title</div>
<div class="Title-1">City</div>
<div class="Title-2">Work Experience</div>
<div class="Text">Dynamic CRM tech lead</div>
<div class="Text-1">Singapore</div>
<div class="Text-2">8 Years</div>
<form>
  <button class="btn btn-primary">Apply Now &#8594;</button>
</form>
<div class="footer">
</div>
<p class="prev">Prev</p>
<p class="next">Next<span>&#8250;</span> </p>
<div class="left">
  <img src="assets/arrow-left.png">
</div>
<div class="icons">
  <div class="arub"><img src="assets/aruba.png"></div>
  <div class="img"><img src="assets/aws.png"></div>
  <div class="img-1"><img src="assets/azure.png"></div>
  <div class="img-2"><img src="assets/cisco.png"></div>
  <div class="img-3"><img src="assets/dell.png"></div>
  <div class="img-4"><img src="assets/hcl.png"></div>
  <div class="img-5"><img src="assets/hpe.png"></div>
  <div class="img-6"><img src="assets/ibm.png"></div>
  <div class="img-7"><img src="assets/ste.png"></div>
</div>

<div class="right">
  <img src="assets\arrow-right.png">
</div>
<div class="wrap">
  <div>
    <!-- <img  src="assets/images/Rectangle 37.png"> --
    <img src="assets/2022-voc-digital-leaders-medium 1.png">
    <div class="text_over_image_1">Vision & Mission</div>
    <!-- <h2 >Vision & Mission</h2><br> --
    <div class="text_over_image">Innovatiq's purpose and its primary objectives by focusing on <br>
      client's goals and employee aspirations</div>
    <button class="btn-4 btn-primary">Learn more &#8594;</button>
  </div>
  <div class="line-1"></div>
  <div class="rights"><span>&#169;</span>2023 Innovatiq.All Rights Reserved</div>
  <div class="terms">Terms of Service, Private Policy</div> -->
