<div class="row">
  <div class="rectangle">
    <div class="row">
      <div class="col-1">
        <div class="circle">
          <img src="assets/innovatiq.png" />
        </div>
      </div>
      <div class="col">
        <h2 style="left: 143.97px; top: 15.15px;">Company <br />Logo</h2>
      </div>
      <div class="col">
        <h2 style="color: #976924 ;left: 388.22px;width: 33.53px; border-bottom: 3px solid #976924">
          Services</h2>
      </div>
      <div class="col">
        <h2 style="left: 531.87px;">Industries</h2>
      </div>
      <div class="col">
        <h2 style="left: 688.15px;">About Innovatiq</h2>
      </div>
      <div class="col">
        <h2 style="left: 927.84px;">Career</h2>
      </div>
      <div class="col">
        <h2 style="left: 1076.71px;">Contact</h2>
      </div>
    </div>
  </div>
  <div class="wrap">
    <div>
      <img src="assets/Rectangle 19.png">
      <div class="text_over_image" style="position: absolute;top:25vw;left:9vw">
        <h2>It's Easy to Find your</h2>
        <h1>Services & Solutions</h1>
        <h6>Explore thousands of clients has exhibited their review<br>
          by our services.</h6>
        <div class="rect-2">
          <h6 style="padding: 10px;">Select Service Type</h6>
          <p style="color: lightgray;padding: 10px;">Cyber Security</p>
          <img src="assets/Polygon8.png" style="position: absolute;
                    width: 10.59px;
                     /* height: 9.76px;  */
                    left: 150.47px;
                    top: -23px;
                    ">

          <div class="line"></div>
          <h6 style=" position:absolute; left: 210px; top: 12px;">Categories
            <img src="assets/Polygon8.png" style="position:absolute;width: 10.59px;left: 79px; top: -32px;">
          </h6>
          <p style="color: lightgray; position:absolute; left: 15vw; top: 58px;">Hacking, Malware</p>
          <form>
            <button class="btn btn-primary">Explore</button>
          </form>
        </div>
      </div>
      <img src="assets/Arrow22.png" style=" position:absolute;width:40vw;left:1vw;
                              padding-left:98px;
                               padding-top: 703.66px;">

      <div class="col">
        <div class="ellipse-3"><img src="assets/Ellipse32.png"></div>
        <div class="john"><img src="assets/John.png"></div>
        <div class="correct"><img src="assets/correct .png"></div>
        <div class="angela"><img src="assets/Angela.png"></div>
        <div class="star"><img src="assets/star.png"></div>
        <div class="oksana"><img src="assets/Oksana.png"></div>
        <div class="correct-2"><img src="assets/correct .png"></div>
        <div class="ellipse-4"><img src="assets/Ellipse33.png"></div>
        <div class="image">
          <img src="assets/service.png">
        </div>
        <div class="circle">
          <img src="assets/Ellipse41.png"
            style="position: absolute;width:16.11px; height: 16.11px; left:60vw;top: 63vw;">
          <img src="assets/Ellipse42.png"
            style="position: absolute;width:16.11px; height: 16.11px; left:65vw;top: 63vw;">
          <img src="assets/Ellipse42.png"
            style="position: absolute;width:16.11px; height: 16.11px; left:70vw;top: 63vw;">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Innovatiqprovides" style="position: absolute;top:75vw;left:9vw;">
  <h2>Innovatiq provides<br>End-to-end services</h2>
</div>
<div class="img">
  <img style="position: absolute;left: 7.3vw;top: 83vw;" src="assets/Ellipse49.png">
</div>
<div class="creative">
  <img src="assets/creativedesign.png" style="position: absolute;left: 9vw;top: 85vw;">
</div>
<div class="text">
  <h2 style="position: absolute; left: 25vw; top: 85vw; font-size: 40px;">Creative</h2>
</div>
<p style="color: lightgray; position:absolute; left: 25vw; top: 1362px;">We like to challenge the "Status Quo" & find
  <br>new ways to achieve our goals.</p>
<img style="position: absolute;left:58vw;top: 83vw;" src="assets/Ellipse50.png">
<div class="divergence">
  <img src="assets/diversity.png" style="position: absolute;left: 60vw;top: 85vw;">
</div>
<div>
  <h2 style="position: absolute;left: 75vw;top: 85vw;font-size: 40px;">Divergence</h2>
</div>
<p style="position: absolute;left: 75vw;top: 1362px;color: lightgray;">We encourage Divergence into our workspaces and<br> we nurture creativity.</p>
<img style="position: absolute;left: 8.3vw;top: 100vw;" src="assets/Ellipse51.png">
<div class="global">
  <img style="position: absolute;left: 10vw;top: 102.5vw;" src="assets/global1.png">
</div>
<div class="text">
  <h2 style="position: absolute;left: 27vw;top: 104vw;font-size: 40px;">Global</h2>
</div>
<p style="position: absolute;left: 27vw;top: 107vw;color: #B8B8B8;">Innovatiq support customers in various<br>time zones around the world.</p>
<img style="position: absolute;left: 59vw;top: 100vw;" src="assets/Ellipse52.png">
<div class="passion">
  <img style="position: absolute;left: 62vw;top: 102vw;" src="assets/passion.png">
</div>
<div class="text">
  <h2 style="position: absolute;font-size: 40px;left: 76vw;top: 103vw;">Passion</h2>
</div>
<p style="position: absolute;left: 76vw;top: 106vw;color: #B8B8B8;">We are passionate! Our experts are a bunch of
passionate people about technology.</p>
<img style="position: absolute;left: 9vw;top: 115.5vw;" src="assets/Ellipse53.png">
<div class="people">
  <img style="position: absolute;left: 10.5vw;top: 118vw;" src="assets/people.png">
</div>
<div class="text">
  <h2 style="position: absolute;left: 26vw;top: 119vw;font-size: 40px;">People</h2>
</div>
<p style="position: absolute;left: 26vw;top: 122vw;color: #B8B8B8;">The core of our business is our People &<br> 
  we believe that they are our strength.</p>
  <div class="row">
    <div class="col" style="padding-left: 10vw;">
      <p style="font-weight: 400;padding-top: 63vw;">We are there for you</p>
      <h1 style="font-weight: 700;font-size: 60px;">Our </h1>
      <h2 style="font-weight: 700;font-size: 60px;">Service</h2>
    </div>
    <div class="row">
      <div class="col" style="padding-left: 13.5vw;padding-top: 76px;width: 238.04px;
      height: 229.38px;">
        <img style="position: absolute;" src="assets/Ellipse54.png">
        <img style="position: absolute;" src="assets/ui.png">
        <h2 style="position: absolute;top: 167vw;color: #B8B8B8;left:18vw;font-weight:500;font-size: 14px;">
          STRATEGIC</h2>
          <h2 style="position: absolute;top: 169vw;left:18vw;font-weight: 500;font-size: 20px;">
            UX/UI Design & <br>
            Development</h2>
            <p style="position: absolute;color: #B8B8B8;top: 173vw; left:18vw;font-size: 10px;">
              Offers a variety of benefits over the off-the shelf <br>
              software, especially in customization, scalability <br>
              and security.
              </p>
              <p style="position: absolute;top: 176.5vw; left:18vw;font-weight: 500;font-size: 15px;">
                Find Out More ></p>
          </div>
          <div class="col" style="padding-left: -40vw;padding-top:50px;width: 229.38px;height: 229.38px;">
            <img style="position: absolute;" src="assets/Ellipse54.png">
            <img style="position: absolute;top: 150.5vw;width: 233.72px;
            height: 165.5px;" src="assets/coding.png">
             <h2 style="position: absolute;top: 166vw;color: #B8B8B8;left: 44vw;font-weight:500;font-size: 14px;">
              CODING IDEAS</h2>
              <h2 style="position: absolute;top: 168vw;left: 44vw;font-weight: 500;font-size: 20px;">
                Software Development</h2>
                <p style="position: absolute;color: #B8B8B8;top: 170.5vw; left: 44vw;font-size: 10px;">
                  Our team is working using Bespoke <br>
                  application have the agility at the heart of <br>
                        your project delivery
                  </p>
                  <p style="position: absolute;top: 174.5vw; left: 44vw;font-weight: 500;font-size: 15px;">
                    Find Out More    ></p>
              </div>
              <div class="col" style="padding-left: 8vw;padding-top:50px;width: 229.38px;
              height: 229.38px;">
                <img style="position: absolute;" src="assets/Ellipse54.png">
                <img style="position: absolute;" src="assets/outsourse.png">
                <h2 style="position: absolute;top: 165vw;color: #B8B8B8;left:76vw;font-weight:500;font-size: 14px;">
                  OUTSOURCE MAINTENANCE</h2>
                  <h2 style="position: absolute;top: 167.5vw;left:76vw;font-weight: 500;font-size: 20px;">
                    Managed Services</h2>
                    <p style="position: absolute;color: #B8B8B8;top: 170.5vw; left:76vw;font-size: 10px;">
                      We can help you maintain the optimal state <br>
                        of your digital products
                      </p>
                      <p style="position: absolute;top: 173.5vw; left:76vw;font-weight: 500;font-size: 15px;">
                        Find Out More ></p>
                  </div>
                  <div class="row">
                    <div class="col" style="padding-left: 13vw;padding-top: 26vw">
                      <img style="position: absolute;" src="assets/Ellipse54.png">
                      <img style="position: absolute;top: 187vw;left:13.5vw" src="assets/backup.png">
                      <h2 style="position: absolute;top: 202vw;color: #B8B8B8;left:18vw;font-weight:500;font-size: 14px;">
                        YOUR CHOICE</h2>
                        <h2 style="position: absolute;top: 204vw;left:18vw;font-weight: 500;font-size: 20px;">
                          Cloud Computing</h2>
                          <p style="position: absolute;color: #B8B8B8;top: 207vw; left:18vw;font-size: 10px;">
                            Technology agnostic, our certified engineer <br>
                                will help you to scale your business on cloud.
                            </p>
                            <p style="position: absolute;top: 210.5vw; left:18vw;font-weight: 500;font-size: 15px;">
                              Find Out More ></p>
                      </div>
                      <div class="col" style="padding-left: 8vw;padding-top: 26vw">
                        <img style="position: absolute;left:43vw;" src="assets/Ellipse54.png">
                        <img style="position: absolute;left: 43.3vw;top: 186vw" src="assets/protection.png">
                        <h2 style="position: absolute;top: 202vw;color: #B8B8B8;left: 49vw;font-weight:500;font-size: 14px;">
                          PROTECTION</h2>
                          <h2 style="position: absolute;top: 204vw;left: 49vw;font-weight: 500;font-size: 20px;">
                            IT Security</h2>
                            <p style="position: absolute;color: #B8B8B8;top: 207vw; left: 49vw;font-size: 10px;">
                              Innovatiq creates strategies to deliver <br>
                                      effective enterprise security risk <br>
                                          management solutions.
                              </p>
                              <p style="position: absolute;top: 210.5vw; left: 49vw;font-weight: 500;font-size: 15px;">
                                Find Out More ></p>
                            </div>
                          </div>
                      </div>







