<div class="container">
  <!-- <img src="assets/Rectangle 19.png" style="width: fit-content"> -->
  <div class="row text">
    <div class="col-md-4">
      <img src="assets/Service/Ellipse 30.svg" style="margin-top: -270px;">
      <h2 style="margin-left: 20px;">It's Easy to Find your </h2>
      <h2 style="color: red;margin-left: 20px;"> Services & Solutions</h2>
      <p>Explore thousands of clients has exhibited their review
        by our services. </p>

      <div class="search-container">
        <form>
          <div class="sect">
            <select disabled>
              <option value="" disabled selected>Select Service Type </option>
            </select>
            <!-- <datalist id="services">
                <option value="Option 1">
                <option value="Option 2">
                <option value="Option 3">
             </datalist> -->
            <input type="search" placeholder="Cyber Security" list="services">
          </div>
          <div class="sect">
            <div class="verticalLine">
            </div>
          </div>
          <div class="sect">
            <select disabled>
              <option value="" disabled selected>Categories</option>
            </select>
            <!-- <datalist id="categories">
                <option value="Option 1">
                <option value="Option 2">
                <option value="Option 3">
             </datalist> -->
            <input type="text" placeholder="Hacking, Malware" list="categories">
          </div>
          <div class="sect">
            <button class="search">Explore</button>
          </div>
        </form>
      </div>

    </div>
    <div class="col-md-6">
      <!-- <img src="assets/service.png"> -->
      <div class="ellipse-3"><img src="assets/Ellipse32.png"></div>
      <div class="ellipse-4"><img src="assets/Ellipse33.png"></div>
      <div class="john"><img src="assets/John.png"></div>
      <div class="correct"><img src="assets/correct .png"></div>
      <div class="angela"><img src="assets/Angela.png"></div>
      <div class="star"><img src="assets/star.png"></div>
      <div class="network">
        <div class="row">
          <div class="col-2">
            <img src="assets/azure.png" style="width: 900%;margin-top: 10px;margin-left: 10px;">
          </div>
          <div class="col-3" style="margin-left: 40px;">
            <h6>Network Security</h6>
          </div>
        </div>
      </div>
      <div class="mobile">
        <div class="row">
          <div class="col-2">
            <img src="assets/aws.png" style="width: 300%;margin-top: 25px;">
          </div>
          <div class="col-9" style="margin-left: 20px;">
            <h6>Mobile Apps <br>
              Developnment</h6>
            <p style="margin-top: -10px;color: #7A7A7A;">Logistics</p>
            <p style="margin-top: -20px;color: red;"><img src="assets/correct .png">&nbsp;&nbsp;Project Approved</p>
          </div>
          <div class="oksana"><img src="assets/Oksana.png"></div>
          <div class="correct-2"><img src="assets/correct .png"></div>
        </div>
      </div>
      <!-- <h6>Mobile Apps <br>
          Developnment</h6>
        <p style="margin-top: -10px;">Logistics</p>
      <p style="margin-top: -20px;color: red;"><img src="assets/correct .png">&nbsp;&nbsp;Project Approved</p></div>
        <div class="oksana"><img src="assets/Oksana.png"></div>
        <div class="correct-2"><img src="assets/correct .png"></div> -->
      <div class="image">
        <img src="assets/service.png">
      </div>
      <!-- <img src="assets/Service/Ellipse 31.svg" style="float: right;margin-top: -22vw; padding-left: 30px;"> -->
    </div>
    <!-- <div class="col-md-1">
    <img src="assets/Service/Ellipse 31.svg" style="float: right;">

  </div> -->
  </div>
  <div class="col-md-12">
    <img src="assets/Service/Ellipse 31.svg" style="margin-left: 93.5vw;margin-top: -60vw;">

  </div>
  <div class="col-2">
    <img src="assets/Service/Arrow 22.svg" style="margin-top: -170px;">
  </div>
  <div class="col-2">
    <img src="assets/Service/Ellipse 29.svg" style="margin-left: -40px;">
  </div>
  <div class="col-2">
    <img src="assets/Service/x- shape (2).svg" style="margin-top: -15vw;margin-left: 43vw;">
  </div>
  <div class="col-2">
    <img src="assets/Service/x- shape (2).svg" style="margin-top: -13vw;margin-left: 91vw;">
  </div>
  <!-- <p style="color: red;font-size: 40px;font-weight: 500;font: 'Nunito';margin-top: 30px;margin-left: 60px;">Innovatiq
    provides <br>
    End-to-end services</p>
  <div class="row" style="margin-top: 60px;margin-left: 30px;">
    <div class="col-2">
      <img src="assets/Service/creative image.jpg">
    </div>
    <div class="col-4" style="margin-top: 50px;">
      <h5>Creative</h5>
      <p>We like to challenge the "Status Quo" & find<br> new ways to achieve our goals.</p>
       <img src="assets/Service/divergence image.svg"> -->
    <!-- </div> -->
    <!-- <div class="col-2"> -->
      <!-- <h5>Creative</h5> -->
      <!-- <img src="assets/Service/divergence image.jpg"> -->
    <!-- </div> -->
    <!-- <div class="col-4" style="margin-top: 50px;">
      <h5>Divergence</h5>
      <p>We encourage Divergence into our workspaces and
        we nurture creativity.</p>
    </div> -->
  <!-- </div> -->
  <!-- <div class="col-2">
    <img src="assets/Service/Ellipse 32.svg" style="margin-left: 88.7vw;margin-top: -10px;">
  </div>
  <div class="row" style="margin-left: 30px;margin-top: -50px;">
    <div class="col-2">
      <img src="assets/Service/Arrow 24.svg" style="margin-left: -40px; margin-top: 10px;"> -->
      <!-- <img src="assets/Service/global image.jpg">
    </div>
    <div class="col-4" style="margin-top: 50px;">
      <h5>Global</h5>
      <p>Innovatiq support customers in various<br>
        time zones around the world.</p>
    </div>
    <img src="assets/Service/x- shape (3).svg" style="width: 4%; margin-top: -170px;">
    <div class="col-3">
      <img src="assets/Service/passion image.jpg" style="margin-left: -20px;">
    </div>
    <div class="col-3" style="margin-top: 40px;margin-left: -110px;">
      <h5>Passion</h5>
      <p>We are passionate! Our experts are a bunch of
        passionate people about technology.</p> -->
      <!-- <img src="assets/Service/Ellipse 32.svg" style="margin-left: 25vw;margin-top: 50px;"> -->
    <!-- </div> -->
    <!-- <div class="col-1">
    <img src="assets/Service/Ellipse 32.svg" style="margin-left: 30vw;margin-top: -10px;">
    </div> -->
  <!-- </div> -->
  <!-- <div class="row" style="margin-left: 30px;margin-top: 80px;">
    <div class="col-2">
      <img src="assets/Service/people image.jpg">
    </div>
    <div class="col-4" style="margin-top: 50px;">
      <h5>People</h5>
      <p>The core of our business is our People & <br>
        we believe that they are our strength.</p>
    </div>
  </div> --> 
  <div class="service">
    <p style="margin-left: 20px;">We Are there For You</p>
    <h2 style="color: red;margin-left: 20px;">Our</h2>
    <img src="assets/Service/x- shape (2).svg" style="margin-left: -40px;margin-top: -50px;">
    <h2 style="margin-top: -30px;margin-left: 20px;">Services</h2>
    <img src="assets/Service/Arrow 25.svg" style="margin-left: 72vw;margin-top: -176px;">
    <div class="row mt-5">
      <div class="col-4">
        <img src="assets/Service/IT-infra.jpg">
        <p style="color:#7A7A7A;padding-top: 20px;">STRATEGIC</p>
        <h6>ADVANCED IT & NETWORK <br> INFRASTRUCTURE SERVICES</h6>
        <p style="color:#7A7A7A;">We create secure network infrastructure with a reliable solutions.

        </p>
        <p class="find" [routerLink]="['/it-infra']">Find Out More&nbsp;&nbsp;&#x276F;</p>
      </div>
      <div class="col-4">
        <img src="assets/Service/UI design image.jpg" class="shadow rounded-circle">

        <p style="color:#7A7A7A;padding-top: 30px;">CODING IDEAS</p>
        <h6>CONSULTING SERVICES</h6>
        <p style="color:#7A7A7A;">Our team is working using Bespoke
          application have the agility at the heart of
          your project delivery.</p>
        <p class="find" [routerLink]="['/consulting-services']">Find Out More&nbsp;&nbsp;&#x276F;</p>
      </div>
      <div class="col-4">
        <img src="assets/Service/managed servuices image.jpg">
        <p style="color:#7A7A7A;padding-top: 30px;">SERVICE MAINTAINANCE</p>
        <h6>CYBER SECURITY</h6>
        <p style="color:#7A7A7A;">We can help you maintain the optimal state
          of your digital products.</p>
        <p class="find" style="padding-top: 20px;" [routerLink]="['/cyber-security']">Find Out More&nbsp;&nbsp;&#x276F;
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4">
        <img src="assets/Service/software developnment images.jpg" class="shadow rounded-circle">

        <p style="color:#7A7A7A;padding-top: 30px;">YOUR CHOICE</p>
        <h6>BUSINESS APPLICATION DEVELOPMENT & SUPPORT</h6>
        <p style="color:#7A7A7A;">Technology agnostic, our certified engineer
          will help you to scale your business on cloud.</p>
        <p class="find" [routerLink]="['/business-app']">Find Out More&nbsp;&nbsp;&#x276F;</p>
      </div>
      <div class="col-4">
        <img src="assets/Service/Mask group.jpg" class="shadow rounded-circle">
        <p style="color:#7A7A7A;padding-top: 30px;">PROTECTION</p>
        <h6>DIGITAL TRANSFORMATION</h6>
        <p style="color:#7A7A7A;">Innovatiq creates strategies to deliver effective enterprise security risk management
          solutions.
        </p>
        <p class="find" [routerLink]="['/digital-trans']">Find Out More&nbsp;&nbsp;&#x276F;</p>
      </div>
      <div class="col-4">
        <img src="assets/Service/cloud computing image.jpg" class="shadow rounded-circle">
        <p style="color:#7A7A7A;padding-top: 30px;">PROTECTION</p>
        <h6>CLOUD SERVICES</h6>
        <p style="color:#7A7A7A;">Innovatiq creates strategies to deliver effective enterprise security risk management
          solutions.
        </p>
        <p class="find" [routerLink]="['/cloud-service']">Find Out More&nbsp;&nbsp;&#x276F;</p>
      </div>
      <img src="assets/Service/x- shape (4).svg" style="margin-left: 87vw;margin-top: -62vw; width: 4%;">
      <img src="assets/Service/Ellipse 33.svg" style="margin-left: 84vw;margin-top: -50vw;width: 9%;">
    </div>
    <!-- <img src="assets/Service/x- shape (4).svg" style="margin-left: 80vw;margin-top: -10px;">
    <img src="assets/Service/Ellipse 33.svg" style="margin-left: 80vw;margin-top: -10px;"> -->
  </div>
  <!-- <div class="stories mt-5">
    <p>Our Latest Stories</p>
    <h2 style="color: red;">Innovatiq</h2>
    <div class="row">
      <div class="col-8">
        <h2>Insights</h2>
      </div>
      <div class="col-4">
        <button class="readmore">Read More &rarr;</button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-4">
        <div class="card">
          <img src="assets/Service/Diploma-in-Banking-Finance 1.svg">
          <div class="card-body" style="background-color: #7A7A7A;">
            <p class="card-text">
              Banking & Finance</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="assets/Service/education 1.svg">
          <div class="card-body" style="background-color: #7A7A7A;">
            <p class="card-text">
              Education</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="assets/Service/resize (1) 1.svg" style="height: 188px">
          <div class="card-body" style="background-color: #7A7A7A;">
            <p class="card-text">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <img src="assets/Service/Arrow 26.svg" style="margin-top;"> -->
  <div class="ioc" style="margin-top: 100px;margin-left: 60px;">
    <!-- <img src="assets/Service/Arrow 26.svg" style="margin-top: 10px;"> -->
    <!-- <img src="assets/Service/image of challenges.jpg" style="width: 100%;opacity: 1;"> -->
    <div class="challenges">
      <img src="assets/Service/Arrow 26.svg" style="margin-top: -26vw;margin-left: -19vw;">
      <!-- <img src="assets/Service/x- shape (3).svg" style="margin-top: -29vw;margin-left: 10vw;"> -->
      <img src="assets/Service/Ellipse 35.svg" style="margin-top: -37vw;margin-left: 40vw;">
      <img src="assets/Service/Ellipse 34.svg" style="margin-left: 61vw;margin-top: 25vw;">
      <img src="assets/Service/Ellipse 36.svg" style="margin-left: -91vw;margin-top: 434px;">
      <!-- <p>Explore Our Case Studies</p>
      <h2 style="color: red;"> Innovatiq</h2>
      <h2>Challenges</h2>
      <h6>The work to be done has never been done before by this group of people<br>
        in this particular environment. Multiple expectations Each project has <br>
        multiple stakeholders that each have their own needs and expectations <br>
        for the project.</h6>
      <button class="learnmore"> Learn More 
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg></button> -->
    </div>
    <!-- <img src="assets/Service/Ellipse 34.svg" style="margin-left: 72vw;margin-top: -15vw;">
    <img src="assets/Service/Ellipse 36.svg" style="margin-left: -91vw;margin-top: -10px;"> -->

  </div>
  <div class="container bg-overlay">
    <div class="row text-left mission">
      <p>Explore Our Case Studies</p>
      <h2 style="color: red;"> Innovatiq</h2>
      <h2>Challenges</h2>
      <h6>The work to be done has never been done before by this group of people<br>
        in this particular environment. Multiple expectations Each project has <br>
        multiple stakeholders that each have their own needs and expectations <br>
        for the project.</h6>
      <button class="learnmore"> Learn More
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white">
          <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
        </svg></button>

    </div>
  </div>
  <div class="service">
    <h2 style="color: red;margin-left: 65px;">Our Technology <br>
    <span style="color: black;">Patners</span></h2>
    <img src="assets/Service/x- shape (2).svg" style="margin-left: -40px;margin-top: -50px;">
    <h2 style="margin-top: -30px;margin-left: 20px;"></h2>
    <!-- <img src="assets/Service/Arrow 25.svg" style="margin-left: 72vw;margin-top: -176px;"> -->
    </div>
  <div class="image-slider-container">
    <div class="image-slider">
      <img src="assets/aruba.png">
      <img src="assets/aws.png">
      <img src="assets/azure.png">
      <img src="assets/cisco.png">
      <img src="assets/dell.png">
      <img src="assets/hcl.png">
      <img src="assets/Hewlett_Packard_Enterprise.png">
      <img src="assets/IBM 2.png">
      <img src="assets/ste.png">
    </div>
  </div>

  <!-- <div class="row mt-5">
    <div class="col-1">
      <img src="assets/Contact-form/down-arrow 2.svg">
    </div>
    <div class="col-10">
      <img src="assets/aruba.png" stye="width:10vw">
      <img src="assets/aws.png" stye="width:10vw">
      <img src="assets/azure.png" stye="width:10vw">
      <img src="assets/cisco.png" stye="width:10vw">
      <img src="assets/dell.png" stye="width:10vw">
      <img src="assets/hcl.png" stye="width:10vw">
      <img src="assets/Hewlett_Packard_Enterprise.png" stye="width:10vw">
      <img src="assets/IBM 2.png" stye="width:10vw">
      <img src="assets/ste.png" stye="width:10vw">
    </div>
    <div class="col-1">
      <img src="assets/Contact-form/down-arrow 1.svg">
    </div>
  </div> -->

  <!-- <div class="footer">
    <div class="line mt-5"></div>
    <div class="row mt-2">
      <div class="col-md-10" style="margin-left: -30px;">
        <h6>&#169;2023 Innovatiq. All Rights Reserved</h6>
      </div>
      <!-- <div class="col-2">Powered by Innovatiq</div> --
    </div>
    <p style="margin-left: -30px;"> Terms of Service Private Policy</p>
  </div> -->
</div>





























<!-- <div class="img"></div>
<div class="row">
  <div class="rectangle">
    <div class="row">
      <div class="col-1">
        <div class="circle">
          <img style="left: 142.65px; top: 15.15px;" src="assets/innovatiq.png" />
        </div>
      </div>
      <div class="col">
        <h2 style="color: #976924 ;left: 388.22px;width: 33.53px; border-bottom: 3px solid #976924">
          Services</h2>
      </div>
      <div class="col">
        <h2 style="left: 531.87px;">Industries</h2>
      </div>
      <div class="col">
        <h2 style="left: 688.15px;">About Innovatiq</h2>
      </div>
      <div class="col">
        <h2 style="left: 927.84px;">Career</h2>
      </div>
      <div class="col">
        <h2 style="left: 1076.71px;">Contact</h2>
      </div>
    </div>
  </div>
  <div class="wrap">
    <div>
      <img src="assets/Rectangle 19.png">
      <div class="text_over_image" style="position: absolute;top:25vw;left:9vw">
        <h2>It's Easy to Find your</h2>
        <h1>Services & Solutions</h1>
        <h6>Explore thousands of clients has exhibited their review<br>
          by our services.</h6>
        <div class="rect-2">
          <h6 style="padding: 10px;">Select Service Type</h6>
          <p style="color: lightgray;padding: 10px;">Cyber Security</p>
          <img src="assets/Polygon8.png" style="position: absolute;
                    width: 10.59px;
                     /* height: 9.76px;  */
                    left: 150.47px;
                    top: -23px;
                    ">

          <div class="line"></div>
          <h6 style=" position:absolute; left: 210px; top: 12px;">Categories
            <img src="assets/Polygon8.png" style="position:absolute;width: 10.59px;left: 79px; top: -32px;">
          </h6>
          <p style="color: lightgray; position:absolute; left: 15vw; top: 58px;">Hacking, Malware</p>
          <form>
            <button class="btn btn-primary">Explore</button>
          </form>
        </div>
      </div>
      <img src="assets/Arrow22.png" style=" position:absolute;width:40vw;left:1vw;
                              padding-left:98px;
                               padding-top: 703.66px;">

  <img style="margin-left: 1454px;margin-top: -1020px;width: 31.12px;
  height: 31.12px;" src="assets/Ellipse31.svg">
      <div class="col">
        <div class="ellipse-3"><img src="assets/Ellipse32.png"></div>
        <div class="john"><img src="assets/John.png"></div>
        <div class="correct"><img src="assets/correct .png"></div>
        <div class="angela"><img src="assets/Angela.png"></div>
        <div class="star"><img src="assets/star.png"></div>
        <div class="oksana"><img src="assets/Oksana.png"></div>
        <div class="correct-2"><img src="assets/correct .png"></div>
        <div class="ellipse-4"><img src="assets/Ellipse33.png"></div>
        <div class="image">
          <img src="assets/service.png">
        </div>
        <div class="Ellipse">
          <!-- <img src="assets/Ellipse29.png"> --
        </div>
        <div class="circle">
          <img src="assets/Ellipse41.png"
            style="position: absolute;width:16.11px; height: 16.11px; left:60vw;top: 63vw;">
          <img src="assets/Ellipse42.png"
            style="position: absolute;width:16.11px; height: 16.11px; left:65vw;top: 63vw;">
          <img src="assets/Ellipse42.png"
            style="position: absolute;width:16.11px; height: 16.11px; left:70vw;top: 63vw;">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Innovatiqprovides" style="position: absolute;top:75vw;left:9vw;">
  <h2>Innovatiq provides<br>End-to-end services</h2>
</div>
<div class="img">
  <img style="position: absolute;left: 2.1vw;top: 76vw;" src="assets/Ellipse49.png">
</div>
<div class="creative">
  <img src="assets/creativedesign.png" style="position: absolute;left: 9vw;top: 85vw;">
</div>
<div class="text">
  <h2 style="position: absolute; left: 25vw; top: 85vw; font-size: 40px;">Creative</h2>
</div>
<p style="color: lightgray; position:absolute; left: 25vw; top: 1362px;">We like to challenge the "Status Quo" & find
  <br>new ways to achieve our goals.
</p>
<img style="position: absolute;left: 58vw;top: 83vw;" src="assets/Ellipse50.png">
<div class="divergence">
  <img src="assets/diversity.png" style="position: absolute;left: 60vw;top: 85vw;">
</div>
<div>
  <h2 style="position: absolute;left: 73vw;top: 85vw;font-size: 40px;">Divergence</h2>
</div>
<p style="position: absolute;left: 73vw;top: 1362px;color: lightgray;">We encourage Divergence into our workspaces
  and<br> we nurture creativity.</p>
<img style="position: absolute;left: 8.3vw;top: 100vw;" src="assets/Ellipse51.png">
<div class="global">
  <img style="position: absolute;left: 10vw;top: 102.5vw;" src="assets/global1.png">
</div>
<img style="margin-top: 341px;margin-left: 1411px;" src="assets/Ellipse29-1.svg">
<div class="text">
  <h2 style="position: absolute;left: 27vw;top: 104vw;font-size: 40px;">Global</h2>
</div>
<p style="position: absolute;left: 27vw;top: 107vw;color: #B8B8B8;">Innovatiq support customers in various<br>time zones
  around the world.</p>
<img style="position: absolute;left: 59vw;top: 100vw;" src="assets/Ellipse52.png">
<div class="passion">
  <img style="position: absolute;left: 62vw;top: 102vw;" src="assets/passion.png">
</div>
<img style="position: absolute;
width: 53.56px;
height: 119.6px;
left: 76.25px;
top: 1599.26px;" src="assets/Arrow24 (2).svg">
<div class="text">
  <h2 style="position: absolute;font-size: 40px;left: 73vw;top: 103vw;">Passion</h2>
</div>
<p style="position: absolute;left: 73vw;top: 106vw;color: #B8B8B8;">We are passionate! Our experts are a bunch <br> of
  passionate people about technology.</p>
<img style="position: absolute;left: 9vw;top: 115.5vw;" src="assets/Ellipse53.png">
<div class="people">
  <img style="position: absolute;left: 10.5vw;top: 118vw;" src="assets/people.png">
</div>
<div class="text">
  <h2 style="position: absolute;left: 26vw;top: 119vw;font-size: 40px;">People</h2>
</div>
<p style="position: absolute;left: 26vw;top: 122vw;color: #B8B8B8;">The core of our business is our People &<br>
  we believe that they are our strength.</p>
<div class="row">
  <div class="col" style="padding-left: 10vw;">
    <p style="font-weight: 400;padding-top: 31vw;">We are there for you</p>
    <h1 style="font-weight: 700;font-size: 60px;">Our </h1>
    <h2 style="font-weight: 700;font-size: 60px;">Service</h2>
  </div>
  <img style="margin-top: 486px;margin-left: 200px;width: 217.72px;
  height: 172.6px;
" src="assets/Arrow23-1.svg">
  <div class="row">
    <div class="col" style="padding-left: 13.5vw;padding-top: 76px;width: 238.04px;
      height: 229.38px;">
      <img style="position: absolute;" src="assets/Ellipse54.png">
      <img style="position: absolute;" src="assets/ui.png">
      <h2 style="position: absolute;top: 167vw;color: #B8B8B8;left:18vw;font-weight:500;font-size: 14px;">
        STRATEGIC</h2>
      <h2 style="position: absolute;top: 169vw;left:18vw;font-weight: 500;font-size: 20px;">
        UX/UI Design & <br>
        Development</h2>
      <p style="position: absolute;color: #B8B8B8;top: 173vw; left:18vw;font-size: 10px;">
        Offers a variety of benefits over the off-the shelf <br>
        software, especially in customization, scalability <br>
        and security.
      </p>
      <p style="position: absolute;top: 176.5vw; left:18vw;font-weight: 500;font-size: 15px;">
        Find Out More ></p>
    </div>
    <div class="col" style="padding-left: -40vw;padding-top:50px;width: 229.38px;height: 229.38px;">
      <img style="position: absolute;" src="assets/Ellipse54.png">
      <img style="position: absolute;top: 150.5vw;width: 233.72px;
            height: 165.5px;" src="assets/coding.png">
      <h2 style="position: absolute;top: 166vw;color: #B8B8B8;left: 44vw;font-weight:500;font-size: 14px;">
        CODING IDEAS</h2>
      <h2 style="position: absolute;top: 168vw;left: 44vw;font-weight: 500;font-size: 20px;">
        Software Development</h2>
      <p style="position: absolute;color: #B8B8B8;top: 170.5vw; left: 44vw;font-size: 10px;">
        Our team is working using Bespoke <br>
        application have the agility at the heart of <br>
        your project delivery
      </p>
      <p style="position: absolute;top: 174.5vw; left: 44vw;font-weight: 500;font-size: 15px;">
        Find Out More ></p>
    </div>
    <div class="col" style="padding-left: 8vw;padding-top:50px;width: 229.38px;
              height: 229.38px;">
      <img style="position: absolute;" src="assets/Ellipse54.png">
      <img style="position: absolute;" src="assets/outsourse.png">
      <h2 style="position: absolute;top: 165vw;color: #B8B8B8;left:76vw;font-weight:500;font-size: 14px;">
        OUTSOURCE MAINTENANCE</h2>
      <h2 style="position: absolute;top: 167.5vw;left:76vw;font-weight: 500;font-size: 20px;">
        Managed Services</h2>
      <p style="position: absolute;color: #B8B8B8;top: 170.5vw; left:76vw;font-size: 10px;">
        We can help you maintain the optimal state <br>
        of your digital products
      </p>
      <p style="position: absolute;top: 173.5vw; left:76vw;font-weight: 500;font-size: 15px;">
        Find Out More ></p>
    </div>
    <div class="row">
      <div class="col" style="padding-left: 13vw;padding-top: 26vw">
        <img style="position: absolute;" src="assets/Ellipse54.png">
        <img style="position: absolute;top: 187vw;left:13.5vw" src="assets/backup.png">
        <h2 style="position: absolute;top: 202vw;color: #B8B8B8;left:18vw;font-weight:500;font-size: 14px;">
          YOUR CHOICE</h2>
        <h2 style="position: absolute;top: 204vw;left:18vw;font-weight: 500;font-size: 20px;">
          Cloud Computing</h2>
        <p style="position: absolute;color: #B8B8B8;top: 207vw; left:18vw;font-size: 10px;">
          Technology agnostic, our certified engineer <br>
          will help you to scale your business on cloud.
        </p>
        <p style="position: absolute;top: 210.5vw; left:18vw;font-weight: 500;font-size: 15px;">
          Find Out More ></p>
      </div>
      <div class="col" style="padding-left: 8vw;padding-top: 26vw">
        <img style="position: absolute;left:43vw;" src="assets/Ellipse54.png">
        <img style="position: absolute;left: 43.3vw;top: 186vw" src="assets/protection.png">
        <h2 style="position: absolute;top: 202vw;color: #B8B8B8;left: 49vw;font-weight:500;font-size: 14px;">
          PROTECTION</h2>
        <h2 style="position: absolute;top: 204vw;left: 49vw;font-weight: 500;font-size: 20px;">
          IT Security</h2>
        <p style="position: absolute;color: #B8B8B8;top: 207vw; left: 49vw;font-size: 10px;">
          Innovatiq creates strategies to deliver <br>
          effective enterprise security risk <br>
          management solutions.
        </p>
        <p style="position: absolute;top: 210.5vw; left: 49vw;font-weight: 500;font-size: 15px;">
          Find Out More ></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="recta">
      <div class="col">
        <p style="font-weight: 400;padding-top:5vw;padding-left: 5vw;font-size: 20px;font-family: 'Nunito'">Our Latest
          Stories</p>
        <h1 style="font-weight: 700;padding-left: 5vw;font-family: 'Nunito';
                          font-style: normal;
                          font-weight: 700;
                          font-size: 60px;">Innovatiq</h1>
        <h2 style="font-weight: 700;padding-left: 5vw;font-family: 'Nunito';
                          font-style: normal;
                          font-weight: 700;
                          font-size: 60px;">Insights</h2>
      </div>
      <div class="col">
        <button class="btn3 btn-primary" style="font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 20px;color: #FFFFFF;">Read More <span>&#8594;</span></button>
      </div>
      <div class="row">
        <div class="col">
          <img src="assets/banking.png" style="padding-top:5vw;padding-left: 6vw">
          <h2 style="text-align: center;">Banking & Finance</h2>
        </div>
        <div class="col">
          <img src="assets/education.png" style="padding-top:5vw;padding-left: 4vw">
          <h2 style="text-align: center">Education</h2>
        </div>
        <div class="col">
          <img src="assets/health.png" style="padding-top:5vw;padding-left:4vw">

          <h2 style="text-align: center;">Health Care</h2>
        </div>
      </div>
    </div>
  </div>
   <div class="wrap">
    <img style=" margin-top: 1322px;margin-left: -575px;position: absolute;
    height: 172.6px;
    left: -17.49px;" src="assets/Arrow27.svg">
    <img style="margin-top: 1388px;margin-left: 873px;position: absolute;width: 37.61px;
    height: 37.61px;" src="assets/Ellipse66.svg">
    <div>
      <img src="assets/image2.png" style="padding-top:89vw;filter:opacity(0.5) drop-shadow(0 0 #f0eeeef3); ">
      <div class="text_over_image_1">
        <p style="font-weight: 400;font-size: 20px;">Explore Our Case Studies</p>
        <h1 style="font-weight: 700;font-size: 60px;">Innovatiq</h1>
        <h2 style="font-weight: 700;font-size: 60px;">Challenges</h2><br>
        <p style="font-weight: 500; color: #000000;font-size: 20px;">The work to be
          done has never been done before by this group of people<br>
          in this particular environment. Multiple expectations Each project has <br>
          multiple stakeholders that each have their own needs and expectations <br>
          for the project.</p><br>
        <button style="width: 189.15px;
        height: 47px;" class="btn2 btn-primary" style="color: #FFFFFF;font-size: 20px;">Learn more  &#8594;</button>
      </div>                                 
    </div>
  </div>  
</div>  
<img style="margin-top: -172px;margin-left: 1297px;position: absolute;width: 140.93px;
height: 140.93px;" src="assets/Ellipse65.svg">
<img style="position: absolute;
width: 66px;
height: 80px;
margin-top: -1px;
margin-left: 8px;
border-radius: 0 50px 50px 0;
background: #D9D9D9;" src="assets/Ellipse67.svg">
<div class="row">
  <div class="col-1"  style="padding: 20px;">
    <img src="assets/arrow-left.png" style="width:9vw">
  </div>
  <div class="col-10">
    <img src="assets/aruba.png" style="width:10vw">
    <img src="assets/aws.png" style="width:10vw">
    <img src="assets/azure.png" style="width:10vw">
    <img src="assets/cisco.png" style="width:10vw">
    <img src="assets/dell.png" style="width:10vw">
    <img src="assets/hcl.png" style="width:10vw">
    <img src="assets/hpe.png" style="width:10vw">
    <img src="assets/ibm.png" style="width:10vw">
    <img src="assets/ste.png" style="width:10vw">
  </div>
  <div class="col-1"  style="padding: 20px;">
    <img src="assets\arrow-right.png" style="width:9vw">
  </div>
</div>
  <div class="row">
    <div class="col">
      <h6 style="padding-top: 10vw;font-size: 12px;padding-left: 60px;">Innovatiq Technologies Pte. Ltd</h6>
      <h1 style="font-size: 30px;font-family: 'Nunito';font-weight: 700;padding-left: 64px;">Headquarters</h1>
      <h6 style="font-size: 12px;font-weight: 500;padding-left: 64px;">We provide services in Manufacturing, Education,<br> 
        Healthcare, Security and provide teams to support <br>
        organizations on their digital transformation journey</h6>
        <img style="padding-left: 64px;" src="assets/call.png">
        <h6 style="display: inline;padding-left: 16px;font-size: 15px;font-weight: 500;">+(65) 674- 20955</h6><br>
        <img  style="padding-left: 74px;"  src="assets/email.png">
          <h6 style="display: inline;padding-left: 16px;font-size: 15px;font-weight: 500;">info@innovatiq.com.sg</h6><br>
          <img  style="padding-left: 74px;"  src="assets/global.png">
          <h6 style="display: inline;padding-left: 16px;padding-bottom: 3vw;font-size: 15px;font-weight: 500;">https://innovatiq.com.sg/index</h6>
      </div>
      <div class="col">
        <h6 style="padding-top: 10vw;padding-left: 120px;font-weight: 600;font-size: 12px;">OUR LOCATIONS Pte. Ltd</h6>
        <h1 style="font-size: 30px;font-weight: 700;padding-left: 120px">Where to find us</h1>
        <img style="padding-left: 117.71px;" src="assets/location.png">
        <h6 style="display: inline;padding-left: 25px;font-size: 15px;font-weight: 500;">229, Mountbatten Road<br></h6>
        <h6 style="display: inline;padding-left: 164.71px;font-size: 15px;font-weight: 500;"> #01 11,Mountbatten Square<br></h6>
            <h6 style="display: inline;padding-left: 164.71px;font-size: 15px;font-weight: 500;">Singapore 39800</h6><br>
            <img src="assets/O9FG4R0.png">
            <img src="assets/map-1.png" style="display:inline;padding-left:1vw">
            <h6 style="display: inline;padding-left:1vw">Singapore</h6>
            <img src="assets/map-1.png" style="display:inline;position:absolute;left: 51.5vw;padding-top: 7.5vw;">
            <h6 style="display: inline;position:absolute;left: 53.5vw;padding-top: 7vw;">India</h6>
            <img src="assets/map-1.png" style="display:inline;position:absolute;left: 51.5vw;padding-top: 9.5vw;">
            <h6 style="display: inline;position:absolute;left: 53.5vw;padding-top: 9vw;">Malaysia</h6>
      </div>
        <div class="col">
          <h6 style="padding-top: 10vw;padding-left: 120.28px;font-size: 12px;">GET IN TOUCH</h6>
          <h1 style="font-size: 30px;padding-left: 120.28px;">Innovatiq Social links</h1>
          <h6 style="padding-left: 120.28px;">You can find us on social media.</h6>
            <img src="assets/linkedin.png" style="padding-left: 120.28px;">
            <img src="assets/twitter.png" style="padding-left: 16px;">
            <img src="assets/facebook.png" style="padding-left: 16px;"><br>
            <!-- <h6 style="padding-top: 4vw;">229, Mountbatten Road<br>
              #01 11,Mountbatten Square<br>
              Singapore 398007</h6> --
        </div>
  </div>
       <div class="footer">
        <div class="row">
          <div class="col" >
            <span>&#169;</span>2023 Innovatiq. All Rights Reserved<br />
          </div>
          <div class="col">
            <p style="font-weight: lighter; padding-left: 30vw">
              Terms of Service,Private Policy
            </p>
          </div>
        </div>
      </div>
     
   







 -->