<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="circle"></div>
            <div class="Box-1">
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
                    Feb 2023</p>
                <h6>
                   Tejasco Techsoft renamed as <br>
                        Innovatiq Technologies, Singapore</h6>
            </div>
            <div class="Box-1" style="margin-top: 80px;">
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
                    Feb 2022</p>
                <h6>
                    Innovatiq Solutions Pte Ltd<br>
                    EA License Acquired Singapore</h6>
            </div>
            <div class="circle circle-grey">2022</div>
            <div class="two">
                <div class="Box-2" style="margin-top: 20px;">
                    <div class="circle"></div>
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
                        Aug 2021</p>
                    <h6> 
                        Innovatiq Consulting, India</h6>
                </div>

                <div class="Box-2" style="margin-top: 100px;">
                    <div class="circle"></div>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
                        Jan 2018</p>
                    <h6>
                        Innovatiq Solutions, Singapore</h6>
                </div>
                <div class="circle circle-grey" style="margin-top: 20px;">2018</div>
            </div>
            <div class="two">
                <div class="Box-2" style="margin-top: 100px;">
                    <div class="circle"></div>
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
                        July 2017</p>
                    <h6>
                        Tejasco Techsoft, Malaysia</h6>
                </div>
                <div class="Box-2" style="margin-top: 100px">
                    <div class="circle"></div>
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
                        May 2014</p>
                    <h6>
                        Tejasco Techsoft, Singapore</h6>
                </div>
                <div class="Box-2" style="margin-top: 100px;">
                    <div class="circle"></div>
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
                        May 2010</p>
                    <h6>
                        Established Tejasco, India.</h6>
                </div>
                <div class="circle circle-grey" style="margin-top: 20px;">2010</div>
            </div>
        </div>
        <div class="col-md-7">
            <h6>Nurturing, Training, and Growing</h6>
            <h4 style="color: red;font-weight: 500;font-size: xx-large">Over 13 Years</h4>
            <h4 style="font-weight: 500;font-size: xx-large">IT Services</h4>
            <p>Innovatiq is a premier provider of comprehensive IT services, dedicated to delivering top-tier software development and IT infrastructure solutions across diverse industries in South East Asia. Our unwavering commitment extends to sectors such as Banking & Finance, Aerospace, Manufacturing, Oil & Gas, Transportation, Medical, Hospitality, and the Public Sector. </p>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-6">
                    <img src="assets/About/Group 20.svg">
                    <h4 style="margin-left: 15px;">Our Foundation</h4>
                    <p>At Innovatiq, we firmly believe that the cornerstone of our success lies in our people. Their collective strength forms the bedrock of our achievements, driving our company towards excellence.</p>
                </div>
                <div class="col-md-6">
                    <img src="assets/About/our culture image.svg">
                    <h4 style="margin-left: 2px;">Cultivating Inclusivity </h4>
                    <p>Embracing an inclusive culture, Innovatiq takes pride in fostering an environment that thrives on diversity, representing a myriad of nationalities united under a common vision.</p>
                </div>
            </div>
            
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-6">
                    <img src="assets/About/our goals image.svg">
                    <h4 style="margin-left: 10px;">Aspirations & Objectives </h4>
                    <p> Our primary objective is to provide unparalleled services to our clients, adhering to global standards while maintaining a steadfast commitment to meeting deadlines and schedules.</p>
                </div>
                <div class="col-md-6">
                    <img src="assets/About/future image.svg">
                    <h4 style="width: 103%;"> Charting a Path to the Future </h4>
                    <p>Innovatiq is poised with an ambitious roadmap aimed at expanding our global footprint and extending our specialized expertise to an even broader spectrum of clientele.
                    </p>
                </div>
            </div>
            <hr style="height:3px;border-width:1;background-color: maroon;">
            <p style="margin-top: 20px;">Our Vibrant Company Culture
              At Innovatiq, our culture pulsates with dynamism and agility. We define ourselves as a meritocracy, fostering a high-performance environment that recognizes and rewards individuals based on their exceptional contributions. As leaders in our field, we hold our people to high standards and wholeheartedly invest in their continuous learning and development.</p>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
        <div class="col-md-1" (click)="before()"><img src="assets/About/down-arrow 4.svg"></div>
        <div class="col-md-3 image">
            <img src="assets/About/vector image.svg">
           
        </div>
        <div class="col-md-6 Krishna" *ngIf="card"> 
            <h5>Krishna Das</h5>
            <h6>CEO</h6>
            <p>Krishna CEO of Innovatiq Technologies, is a seasoned business executive with more than 25 years of
                experience in the technology industry.He is a visionary leader who is passionate about leveraging technology to solve business problems
                and drive growth.</p>
               <p> Under Krishna leadership, Innovatiq Technology has continued to innovate and expand its product &
                service offerings, and it has earned a reputation as a trusted partner to businesses of all sizes. With
                Krishna at the helm, Innovatiq is poised for continued success and growth in the years to come.</p>

        </div>
        <div class="col-md-6 Krishna" *ngIf="!card"> 
            <h5>Srinivasa Rao</h5>
            <h6>Business Head - India Operations </h6>
            <p>An established and proven Leader for a large German 
                based & NYSE Listed company with over 28+Years of experience.
                Business focused professional and thought leader in Management,
                 Sales activities and Business consulting.</p>
               <p>Experience of managing the operations of the company, P&L, 
                and driving the teams across the globe
                Strategist & executioner with demonstrated ability by 
                leveraging competence of the organization and aligning delivery with business 
                objectives of the customer.</p>

        </div>
        <div class="col-md-1" (click)="cards()"><img src="assets/About/down-arrow 3.svg"></div>
    </div>

    <div class="container bg-overlay">
        <div class="row text-left mission">
            <h1>Vision & Mission</h1>
            <p style="font-size: 20px;font-family: 'Nunito';">Innovatiq's mission is to deliver tailored technological solutions, driving digital transformations with specialized services.<br> We stand out for deep industry expertise, innovative infrastructure design, and integration of diverse vendor products, <br>empowering businesses for sustained competitiveness</p>
              <button type="button" class="learn">Learn Now
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
            </button>
          
        </div>
    </div>
    <!-- <app-services-header></app-services-header> -->
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row mx-auto">
          <div class="col-md-6 mail">
            <img src="assets/Contact-form/receive mail.svg">
          </div>
          <div class="col-md-6 mail">
            <img src="assets/Contact-form/incoming call.svg">
          </div>
        </div>
        <div class="row singapore">
          <div class="col-md-3">
            <img src="assets/location (11) 1.png" />
          </div>
          <div class="col-md-8">
            <h5>HQ Singapore</h5>
            <p>229, Mountbatten Road<br>
              #01-11,Mountbatten Square<br>
              Singapore 398007</p>
          </div>
        </div>
        <img class="ellipse" src="assets/Contact-form/Ellipse 56.svg">
        <div class="row mt-3" style="margin-left: 20px;">
          <div class="col-md-3">
            <img src="assets/location (11) 1.png" />
          </div>
          <div class="col-md-8">
            <h5>Malaysia</h5>
            <p>Office 41, Level 1, Resource Centre - IIC,<br>
              Technology Park Malaysia,<br>
              Bukit Jalil Kuala Lumpur,<br>
              Malaysia - 57000.</p>
          </div>
        </div>
        <img class="arrow" src="assets/Contact-form/Arrow 23.svg">
        <div class="row mt-1">
          <div class="col-md-3">
            <img src="assets/location (11) 1.png" />
          </div>
          <div class="col-md-8" style="margin-left: 20px;">
            <h5>India</h5>
            <p>Level 1, Unit 2, Salarpuria Sattva Knowledge City,<br>
              Inorbit Mall Road, Raidurg Village,<br>
              Hitech City,Hyderabad, <br>
              Telangana-500081 (INDIA).</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/Contact-form/x- shape.svg">
        <p> Our Offices</p>
        <h2>Get in Touch</h2>
        <h3>For themselves</h3>
        <p>Let's talk about what you want to accomplish
          and how we can make it happen.</p>
        <form [formGroup]="contactForm">
          <label>Your Name</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter your name" formControlName="name" required>
          </div>
          <label>Your Email</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter valid Email id" formControlName="email">
          </div>
          <label>Phone</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter number" formControlName="phone">
          </div>
          <label>Subject</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="What enquiry..." formControlName="subject">
          </div>
          <label>Message (optional)</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Type your Message..." style="height: 100px;" formControlName="message">
          </div>
          <img class="x" src="assets/Contact-form/x- shape (1).svg">
        </form>
        <!-- <img class="x" src="assets/Contact-form/x- shape (1).svg"> -->
        <button class="submit" style="font-size: larger;" (click)="submit()">Submit
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
      </button>
      </div>
    </div>
    <div class="service">
        <h2 style="color: red;margin-left: 65px;">Our Technology <br>
        <span style="color: black;">Patners</span></h2>
        <img src="assets/Service/x- shape (2).svg" style="margin-left: -40px;margin-top: -50px;">
        <h2 style="margin-top: -30px;margin-left: 20px;"></h2>
        <!-- <img src="assets/Service/Arrow 25.svg" style="margin-left: 72vw;margin-top: -176px;"> -->
        </div>
      <div class="image-slider-container">
        <div class="image-slider">
          <img src="assets/aruba.png">
          <img src="assets/aws.png">
          <img src="assets/azure.png">
          <img src="assets/cisco.png">
          <img src="assets/dell.png">
          <img src="assets/hcl.png">
          <img src="assets/Hewlett_Packard_Enterprise.png">
          <img src="assets/IBM 2.png">
          <img src="assets/ste.png">
        </div>
      </div>
    <!-- <div class="footer">
      <div class="line mt-5"></div>
      <div class="row mt-2">
        <div class="col-md-10" style="margin-left: -30px;">
          <h6>&#169;2023 Innovatiq. All Rights Reserved</h6>
        </div>
         <div class="col-2">Powered by Innovatiq</div> -->
      <!-- </div> -->
      <!-- <p style="margin-left: -30px;"> Terms of Service Private Policy</p> -->
    <!-- </div> -->
  </div>
  

    <!-- <div class="col-md-10">
         <img  src="assets/images/Rectangle 37.png"> 
        <img src="assets/2022-voc-digital-leaders-medium 1.png">
        <div class="text_over_image_1">Vision & Mission</div>
     <h2 >Vision & Mission</h2><br> 
        <div class="text_over_image">Innovatiq's purpose and its primary objectives by focusing on <br>
          client's goals and employee aspirations</div>
        <button class="btn-4 btn-primary">Learn more &#8594;</button>
      </div> -->
      <!-- <div class="container bg-overlay">
        <div class="row text-left mission">
            <h1>Vision & Mission</h1>
            <h6>Innovatiq's purpose and its primary objectives by Focusing on <br>
              client's goals and employee aspirations.</h6>
              <button type="button" class="learn">Learn Now
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
            </button>
          
        </div>
    </div> -->
    
</div>
<!-- <section class="background">
    <div class="layer"></div>
</section> -->