<div class="container">
<div class="row">
    <div class="col-5" style="border-left: 2px solid red;height: 80%;">
        <div class="circle"></div>
       <div class="Box-1">
        <h6>Feb 2023</h6>
        <p>Crossed 250 employees...</p>
       </div>
       <div class="circle circle-grey">2023</div>
       <div class="two">
       <div class="Box-2" style="margin-top: 20px;">
        <div class="circle" style="margin-top: 100px;margin-left: -48px;"></div>
        <h6>Aug 2018</h6>
           <p> More than 100 clients Globally</p>
       </div>
       
       <div class="Box-2" style="margin-top: 100px;">
       <div class="circle" style="margin-top: 100px;margin-left: -48px;"></div>
       <h6>Jan 2018</h6>
          <p>Expansion to Malaysia</p>
       </div>
       <div class="circle circle-grey" style="margin-top: 20px;">2018</div>
       </div>
       <div class="two">
        <div class="Box-2" style="margin-top: 100px;">
            <div class="circle" style="margin-top: 100px;margin-left: -48px;"></div>
            <h6>July 2016</h6>
                <p>Achieved Multi-fold Revenue growth within few years</p>
        </div>
        <div class="Box-2" style="margin-top: 100px">
            <div class="circle" style="margin-top: 100px;margin-left: -48px;"></div>
            <h6>May 2014</h6>
                <p>Expanded Business as Innovatiq Technolgies Pte Ltd 
                in Singapore</p>
        </div>
        <div class="Box-2" style="margin-top: 100px;">
            <div class="circle" style="margin-top: 100px;margin-left: -48px;"></div>
            <h6>May 2010</h6>
               <p> Started our Journey as Tejasco Techsoft in India</p>
           </div>
        <div class="circle circle-grey" style="margin-top: 20px;">2010</div>
        </div>
    </div>
    <div class="col-7">
        <h6>Nurture, Train, Grow</h6>
        <h4 style="color: red;font-weight: 500;font-size: xx-large">More than 13 Years</h4>
          <h4 style="font-weight: 500;font-size: xx-large">IT Services</h4>
          <p>We are committed to deliver end-end software development & IT infrastructure solutions to 
            various industries across South East Asia like Banking & Finance, Aerospace, Manufacturing,
            Oil & Gas, Transportation, Medical, Hospitality and Public Sector.</p>
            <div class="row" style="margin-top: 80px;">
                <div class="col-6">
                    <img src="assets/About/Group 20.svg">
                    <h4 style="margin-left: 50px;">Our People</h4>
                       <p> We believe that people are the core of the business. 
                        Their strength is our company success.</p>
                </div>
                <div class="col-6">
                    <img src="assets/About/our culture image.svg">
                   <h4 style="margin-left: 50px;"> Our Culture</h4>
                    <p>Innovatiq we encourage an inclusive culture. We are proud 
                        to have a mix of people with various nationalities.</p>
                </div>
            </div>
            <div class="row" style="margin-top: 80px; border-bottom: 2px solid #B08E59;" >
                <div class="col-6">
                    <img src="assets/About/our goals image.svg">
                    <h4 style="margin-left: 50px;">Our Goals</h4>
                       <p> We believe  providing services to client in global standards within time or schedule.</p>
                </div>
                <div class="col-6">
                    <img src="assets/About/future image.svg">
                   <h4 style="margin-left: 50px;"> Future</h4>
                    <p>We have an ambitious roadmap to grow our global presence & avail our expertise to more customers.</p>
                </div>
            </div>
            <p style="margin-top: 20px;">Innovatiq's company culture is fast-paced and dynamic. We describe our culture as a meritocracy, a high performance 
                culture that promotes and rewards individuals based on their performance. As the leading experts, we have high 
                expectations of our people and invest heavily in their learning and development.</p>
    </div>
</div>
</div>