<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="circle"></div>
            <div class="Box-1">
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
                    Feb 2023</p>
                <h6>
                   Tejasco Techsoft renamed as <br>
                        Innovatiq Technologies, Singapore</h6>
            </div>
            <div class="Box-1" style="margin-top: 80px;">
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
                    Feb 2022</p>
                <h6>
                    Innovatiq Solutions Pte Ltd<br>
                    EA License Acquired Singapore</h6>
            </div>
            <div class="circle circle-grey">2022</div>
            <div class="two">
                <div class="Box-2" style="margin-top: 20px;">
                    <div class="circle"></div>
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
                        Aug 2021</p>
                    <h6> 
                        Innovatiq Consulting, India</h6>
                </div>

                <div class="Box-2" style="margin-top: 100px;">
                    <div class="circle"></div>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
                        Jan 2018</p>
                    <h6>
                        Innovatiq Solutions, Singapore</h6>
                </div>
                <div class="circle circle-grey" style="margin-top: 20px;">2018</div>
            </div>
            <div class="two">
                <div class="Box-2" style="margin-top: 100px;">
                    <div class="circle"></div>
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
                        July 2017</p>
                    <h6>
                        Tejasco Techsoft, Malaysia</h6>
                </div>
                <div class="Box-2" style="margin-top: 100px">
                    <div class="circle"></div>
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
                        May 2014</p>
                    <h6>
                        Tejasco Techsoft, Singapore</h6>
                </div>
                <div class="Box-2" style="margin-top: 100px;">
                    <div class="circle"></div>
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
                        May 2010</p>
                    <h6>
                        Established Tejasco, India.</h6>
                </div>
                <div class="circle circle-grey" style="margin-top: 20px;">2010</div>
            </div>
        </div>
        <div class="col-md-7">
            <h6>Nurture, Train, Grow</h6>
            <h4 style="color: red;font-weight: 500;font-size: xx-large">More than 13 Years</h4>
            <h4 style="font-weight: 500;font-size: xx-large">IT Services</h4>
            <p>We are committed to deliver end-end software development & IT infrastructure solutions to
                various industries across South East Asia like Banking & Finance, Aerospace, Manufacturing,
                Oil & Gas, Transportation, Medical, Hospitality and Public Sector.</p>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-6">
                    <img src="assets/About/Group 20.svg">
                    <h4 style="margin-left: 50px;">Our People</h4>
                    <p> We believe that people are the core of the business.
                        Their strength is our company success.</p>
                </div>
                <div class="col-md-6">
                    <img src="assets/About/our culture image.svg">
                    <h4 style="margin-left: 50px;"> Our Culture</h4>
                    <p>Innovatiq we encourage an inclusive culture. We are proud
                        to have a mix of people with various nationalities.</p>
                </div>
            </div>
            
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-6">
                    <img src="assets/About/our goals image.svg">
                    <h4 style="margin-left: 50px;">Our Goals</h4>
                    <p> We believe providing services to client in global standards within time or schedule.</p>
                </div>
                <div class="col-md-6">
                    <img src="assets/About/future image.svg">
                    <h4 style="margin-left: 50px;"> Future</h4>
                    <p>We have an ambitious roadmap to grow our global presence & avail our expertise to more customers.
                    </p>
                </div>
            </div>
            <hr style="height:3px;border-width:1;background-color: maroon;">
            <p style="margin-top: 20px;">Innovatiq's company culture is fast-paced and dynamic. We describe our culture
                as a meritocracy, a high performance
                culture that promotes and rewards individuals based on their performance. As the leading experts, we
                have high
                expectations of our people and invest heavily in their learning and development.</p>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
        <div class="col-md-1" (click)="before()"><img src="assets/About/down-arrow 4.svg"></div>
        <div class="col-md-3 image">
            <img src="assets/About/vector image.svg">
           
        </div>
        <div class="col-md-6 Krishna" *ngIf="card"> 
            <h5>Krishna Das</h5>
            <h6>CEO</h6>
            <p>Krishna CEO of Innovatiq Technologies, is a seasoned business executive with more than 25 years of
                experience in the technology industry.He is a visionary leader who is passionate about leveraging technology to solve business problems
                and drive growth.</p>
               <p> Under Krishna leadership, Innovatiq Technology has continued to innovate and expand its product &
                service offerings, and it has earned a reputation as a trusted partner to businesses of all sizes. With
                Krishna at the helm, Innovatiq is poised for continued success and growth in the years to come.</p>

        </div>
        <div class="col-md-6 Krishna" *ngIf="!card"> 
            <h5>Srinivasa Rao</h5>
            <h6>Business Head - India Operations </h6>
            <p>An established and proven Leader for a large German 
                based & NYSE Listed company with over 28+Years of experience.
                Business focused professional and thought leader in Management,
                 Sales activities and Business consulting.</p>
               <p>Experience of managing the operations of the company, P&L, 
                and driving the teams across the globe
                Strategist & executioner with demonstrated ability by 
                leveraging competence of the organization and aligning delivery with business 
                objectives of the customer.</p>

        </div>
        <div class="col-md-1" (click)="cards()"><img src="assets/About/down-arrow 3.svg"></div>
    </div>

    <div class="container bg-overlay">
        <div class="row text-left mission">
            <h1>Vision & Mission</h1>
            <h6>Innovatiq's purpose and its primary objectives by Focusing on <br>
              client's goals and employee aspirations.</h6>
              <button type="button" class="learn">Learn Now
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
            </button>
          
        </div>
    </div>

    <!-- <div class="col-md-10">
         <img  src="assets/images/Rectangle 37.png"> 
        <img src="assets/2022-voc-digital-leaders-medium 1.png">
        <div class="text_over_image_1">Vision & Mission</div>
     <h2 >Vision & Mission</h2><br> 
        <div class="text_over_image">Innovatiq's purpose and its primary objectives by focusing on <br>
          client's goals and employee aspirations</div>
        <button class="btn-4 btn-primary">Learn more &#8594;</button>
      </div> -->
      <!-- <div class="container bg-overlay">
        <div class="row text-left mission">
            <h1>Vision & Mission</h1>
            <h6>Innovatiq's purpose and its primary objectives by Focusing on <br>
              client's goals and employee aspirations.</h6>
              <button type="button" class="learn">Learn Now
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
            </button>
          
        </div>
    </div> -->
    
</div>
<!-- <section class="background">
    <div class="layer"></div>
</section> -->