.container{
    margin-top: 50px;
}
p{
    font-size: 13px;
}
.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-left: -18px;
    background-color: red;
   }

.circle-grey{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -38px;
    color: white;
    text-align: center;
    padding-top: 12px;
    background-color: #a3adb3;
    
}
.two{
    margin-top: 30px;
}
@media only screen and (max-width: 1200px) {
    .col-md-5{
       margin-left: 30px;
    }
}
.col-md-5{
    border-left: 2px solid red;
    height: 80%;  
}
.Box-1{
    margin-left: 20px;
    background-color: #e9ecef;
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    border-radius: 10px;
}
.Box-2{
    margin-left: 20px;
    background-color: #e9ecef;
    width: fit-content;
    height: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    border-radius: 10px;
}
.Box-2 .circle{
    margin-top: 100px;
    margin-left: -48px;
}
.image{
    position: relative;
    left: 65px;
    margin-left: -70px;
}
.Krishna{
    margin-top: 10px;
    padding-top: 20px;
    width: 60%;
    height: 250px;
    padding-left: 100px;
    background-color: #F6F6F6;
    border-radius: 20px; 
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}
@media only screen and (max-width: 1200px) {
    .Krishna{
        width: fit-content;
        height: fit-content;
    }

}
.col-md-1{
    margin-top: 100px;
}

.learn {
    border: none;
    background-color: #FFAE3B;
    border-radius: 20px;
    color: #fff;
    width: 15%;
    height: 40px;
    text-align: center;
    margin-left: 90px;
    margin-top: 50px;
  }
  /* .vision-image img{
    text-align: left;
    width: 107%;
    margin-left: -40px;
    margin-bottom: 30px;
    background: black;
    object-fit: cover;
    opacity: 0.5;
  } */
 
  .bg-overlay {
    background: linear-gradient(rgba(42, 41, 41, 0.7), rgba(62, 59, 59, 0.7)), url("/assets/career-page image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 700px;
    width: 170%;
    padding-top: 50px;
    margin-left: -15px;
    margin-bottom: 50px;
}
.mission{
    margin-top: 250px;
    margin-left: 40px;
}
  /* .vision{
    color: white;
    position: absolute;
    top: 166vw;
    left: 15vw;
  } */
  /* .vision-text{
    color: white;
    position: absolute;
    top: -8vw;
    left: -11vw;
    /* width: 50%; *
  } */
  .rect img{
    position: absolute;
    width: 94.5%;
    top: 142.1vw;
    left: 5.9vw;
    opacity: 0.6;
  }
