<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="row g-3" style="--bs-gutter-x: 1rem">
  <div class="col-md-6">
    <div class="rectangle">
      
    </div>
    <img src="assets/Ellipse 72.png" />
    <div class="row g-3">
      <div class="col-md-6">
        <img src="assets/mail us.png">
        <h2>Email Us</h2>
      </div>
      <div class="col-md-6">
        <img src="assets/Callus .png">
        <h2>Call Us</h2><br>
      </div>

    </div>
    <div class="row">
      <!-- <div class="col" style="position: absolute;margin-left: -45vw;padding: 20px;">
        <img src="assets/images/Ellipse 56.png" /><br>
      </div> -->
      <div class="col-10">
        <div class="row">
          <div class="col-2">
            <img src="assets/location (11) 1.png" />
          </div>
          <div class="col-6">
            <h4>HQ Singapore</h4>
            <p>
              229, Mountbatten Road<br>
              #01-11,Mountbatten Square<br>
              Singapore 398007.
            </p><br>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <img src="assets/location (11) 1.png" />
          </div>
          <div class="col-6">
            <h4>Malaysia</h4>
            <p>
              Office 41, Level 1, Resource Centre IIC,<br />
              Technology Park Malaysia,<br />
              Bukit Jalil Kuala Lumpur,<br />
              Malaysia 57000.
            </p><br>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-2">
            <img src="assets/location (11) 1.png" />
          </div>
          <div class="col-6">
            <h4>India</h4>
            <p>
              Level 1, Unit 2, Salarpuria Sattva Knowledge City,<br />
              Inorbit Mall Road, Raidurg Village,<br />
              Hitech City,Hyderabad, <br />
              Telangana-500081 (INDIA).
            </p><br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <p>Our Offices</p>
    <h1>Get in Touch</h1>
    <h2>For themselves</h2>
    <p>Let's talk about what you want to accomplish</p>
    <p>how we can make it happen</p>
    <div class="row g-3">
      <div class="col-10">
        <form>
          <div class="header-align-right">
            <label>Your Name(Required)<br></label>
            <input type="text" class="form-control" placeholder="Enter Your Name" name="" required="required" />
          </div><br>
          <div class="header-align-right">
            <label>Your Email(Required)</label><br>
            <input type="text" class="form-control" placeholder="Enter Your Email" name="" required="required" />
          </div><br>
          <div class="header-align-right">
            <label>Phone(Required)</label>
            <input type="text" class="form-control" placeholder="Enter Valid Number" name="" required="required" />
          </div><br>
          <div class="header-align-right">
            <label>Message(Optional)<br></label>
            <textarea class="form-control mb-3" placeholder="Type Your Message" cols="10" rows="5"></textarea>
            <button class="btn btn-primary">Submit</button>
          </div>
        </form><br>
      </div>
      <div class="col" style="position: relative;margin-right: -80px;">
        <img src="assets/Ellipse 29.png" />
      </div>
    </div>
  </div>
</div>

    <!-- <div class="left">
      <img src="assets/images/arrow-left-3099 (3).png">
    </div> -->
  <!-- </div> -->
  <!-- <div class="rectangle"></div>
  <div class="circle"></div>
  <div class="company-logo">Company logo</div>
  <div class="services">Services</div>
  <div class="industries">Industries</div>
  <div class="about">About Innovatiq</div>
  <div class="career">Career</div>
  <div class="contact">Contact</div>
  <div class="ellipse"></div>
  <div class="email">Email Us</div>
    <div class="mail"><img src="assets/images/mail us.png">
  </div>
  <div class="call"><img src="assets/images/Callus .png"></div>
  <div class="call-us">Call Us</div>
  <div class="offices">Our Offices</div>
  <div class="touch">Get In Touch</div>
  <div class="them">For themselves</div>
  <div class="lets">Let's talk about what you want to accomplish 

    and how we can make it happen.</div>
    <div class="ellipse-1"></div>
    <div class="location-1"><img src="assets/images/location (11) 1.png" /></div>
    <div class="Singapore">HQ Singapore</div>
    <div class="address-1">229, Mountbatten Road

      #01-11,Mountbatten Square
      
      Singapore 398007</div>
      <div class="location-2"><img src="assets/images/location (11) 1.png" /></div>
      <div class="malaysia">Malaysia</div>
      <div class="address-2">Office 41, Level 1, Resource Centre IIC,

        Technology Park Malaysia,
        
        Bukit Jalil Kuala Lumpur,
        
        Malaysia 57000.</div>
        <div class="location-3"><img src="assets/images/location (11) 1.png" /></div>
        <div class="india">India</div>
        <div class="address-3">Level 1, Unit 2, Salarpuria Sattva Knowledge City,

          Inorbit Mall Road, Raidurg Village,
          
          Hitech City,Hyderabad, 
          
          Telangana-500081 (INDIA).</div>
          <div class="ellipse-2"></div>
          <form>
            <div class="name">
              <label>YourName(Required)</label></div><br>
             <div class="box"> <input type="text" class="form-control" placeholder="Enter Your Name" name="" required="required" />
            </div><br>
            <div class="your-mail">
              <label>YourEmail(Required)</label><br></div>
              <div class="box-2"> <input type="text" class="form-control" placeholder="Enter Your Email" name="" required="required" />
            </div><br>
            <div class="phone">
              <label>Phone(Required)</label></div>
              <div class="box-3"> <input type="text" class="form-control" placeholder="Enter Valid Number" name="" required="required" />
            </div><br>
            <div class="subject">
            <label>Subject(Required)</label></div>
              <div class="box-4"> <input type="text" class="form-control" placeholder="subject" name="" required="required" />
            </div><br>
            <div class="message">
              <label>Message(Optional)<br></label></div>
              <div class="box-5"> <textarea class="form-control mb-3" placeholder="Type Your Message" cols="10" rows="5"></textarea>
              
            </div>
            <button class="btn btn-primary">Submit</button>
          </form><br> -->
          <div class="row" style="padding-top:10px;position: relative;width: fit-content;margin-left: 10px;">
            <div class="col-1" style="padding: 20px;">
             <img src="assets/arrow-left-3099 (3).png" stye="width:10vw">
            </div>
            <div class="col-10">
             <img src="assets/aruba.png" stye="width:10vw">
             <img src="assets/aws.png" stye="width:10vw">
             <img src="assets/azure.png" stye="width:10vw">
             <img src="assets/cisco.png" stye="width:10vw">
             <img src="assets/dell.png" stye="width:10vw">
             <img src="assets/hcl.png" stye="width:10vw">
             <img src="assets/Hewlett_Packard_Enterprise.png" stye="width:10vw">
             <img src="assets/IBM 2.png" stye="width:10vw">
             <img src="assets/ste.png" stye="width:10vw">
            </div>
            <div class="col-1" style="margin-left: -25px;margin-top: 30px">
             <img src="assets/arrow-right-3099 (3).png" stye="width:10vw">
            </div>
          </div><br>
          
  <!-- <div class="row"> 
   <div class="col">
     <div class="abn-amro">
      <img src="assets/images/ABN.png">
    </div>
   </div>
   <div class="col">
    <div class="cse-transtel">
      <img src="assets/images/cse.png">
    </div>
   </div>
   <div class="col">
    <div class="hcl-technologies">
      <img src="assets/images/hcl.png">
    </div>
   </div>
   <div class="col">
    <div class="ceva-logistics">
      <img src="assets/images/ceva.png">
    </div>
   </div>
   <div class="col">
    <div class="societe-generale">
      <img src="assets/images/societe.png">
    </div>
   </div>
  </div>
    <div class="right">
      <img src="assets/images/down-arrow 1.png">
    </div> -->


<div class="footer"></div>
    <div class="rights">
      <span>&#169;</span>2023 Innovatiq. All Rights Reserved</div>
      <div class=terms> Terms of Service Private Policy
    </div>
      <div class="powered">
      Powered by Innovatiq 
      </div>
