<nav class="navbar">
    <div class="navbar-brand">
        <img class="companylogo" src="..\assets\header\company-logo.png" alt="company logo">
        <div class="company-label">Company Logo</div>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item" id="active">
        <a class="nav-link" id="active" href="#">Services</a>
        <img class="border" src="/assets/header/border.png">
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">About Innovatiq</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Careers</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Industries</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
        </li>
    </ul>
    <img id="ham" src="/assets/header/Vector.png">
</nav>
  
