<section class="border header">
   
    <header class="masthead">
        <div class="container">
            <div class="masthead-heading">
                <p class="fw-bold fs-1">Retail</p>
            </div>
           
        </div>
    </header>
</section>
<section>
<div class="container-fluid">
    <h5 class="fw-bold mt-4">Empowering Business Pioneers: </h5>
    <p class="mt-4 fs-5">Embracing Tailored Information Technology Solutions for Strategic Empowerment... 
</p>
<button class="back" [routerLink]="['/healthcare']">Previous</button>
    <button class="next" [routerLink]="['/education']">Next</button>
</div>
</section>

