<div class="main-image-container">
    <img class="main-image" src="/assets/part-one/download.png" alt="mainimage">
    <div class="badge-container1">Family Service</div>
    <div class="badge-container2">
        <img src="/assets/part-one/socgen-logo.png">
        <p class="bc2text">Network Security</p>
        <p class="bc2subtext">Financial Service</p>
    </div>
    <div class="badge-container3">
        <img class="img2" src="/assets/part-one/ceva-logo.png"> 
        <div class="bc3content">
        <p class="bc3subtext3">Mobile Apps Development</p>
        <p class="bc3subtext1">Logistics</p>
        <p class="bc3subtext2"><img class="img3" src="/assets/part-one/tick.png">Project Approved </p>
        </div>
    </div>
</div>
