<section class="border header">
   
        <header class="masthead">
            <div class="container">
                <div class="masthead-heading">
                    <p class="fw-bold fs-1">Manufacturing</p>
                </div>
               
            </div>
        </header>
</section>
<section>
    <div class="container-fluid">
        <h5 class="fw-bold mt-4">Embarking on a Profound Exploration of Extensive Data Resources:</h5>
        <p class="mt-4 fs-5"> Providing Transformative Solutions to Maximize Data Utility and Value...</p>
        <button class="back" [routerLink]="['/industries']">Previous</button>
        <button class="next" [routerLink]="['/healthcare']">Next</button>
    </div>
</section>

