<div class="container">
    <h1>Innovatiq provides</h1>
    <h1>End-to-end services</h1>
    <div class="app-circle-items">
        <div class="circle-item-container">
            <div class="img-div">
                <img class="circle" id="circle-1" src="/assets/part-two/creative.png">
            </div>
            <div class="text">
                <h1>Creative</h1>
                <p>We like to challenge the "Status Quo" & find new ways to achieve our goals</p>
            </div>
        </div>
        <div class="circle-item-container">
            <div class="img-div">
                <img class="circle" id="circle-2" src="/assets/part-two/divergence.png">
            </div>
            <div class="text">
                <h1>Divergence</h1>
                <p>We encourage Divergence into our workspaces and we nurture creativity.</p>
            </div>
        </div>
        <div class="circle-item-container">
            <div class="img-div">
                <img class="circle" id="circle-3" src="/assets/part-two/global.png">
            </div>
            <div class="text">
                <h1>Global</h1>
                <p>Innovatiq support customers in various time zones around the world.</p>
            </div>
        </div>
        <div class="circle-item-container">
            <div class="img-div">
                <img class="circle" id="circle-4" src="/assets/part-two/passion.png">
            </div>
            <div class="text">
                <h1>Passion</h1>
                <p>We are passionate! Our experts are a bunch of passionate people about technology</p>
            </div>
        </div>
        <div class="circle-item-container">
            <div class="img-div">
                <img class="circle" id="circle-5" src="/assets/part-two/people.png">
            </div>
            <div class="text">
                <h1>People</h1>
                <p>The core of our business is our People & we believe that they are our strength.</p>
            </div>
        </div>
    </div> 
</div>
