<div class="tms">
    <h3 class="title">Training Management System (TMS)</h3>
    <h4 class="pt-5">Unveiling a Suite of Advanced Features & Functions</h4>
    <h5 class="sub py-4">Admin Dashboard</h5>
    <p>Step into the nerve center of your training organization with our Training Management System's (TMS) Admin Dashboard. This intuitive dashboard offers a rapid and comprehensive understanding of your organization's crucial metrics. 
        <span class="fw-bold">Dive into key dashboards that include:</span></p>
        <div class="site">
            <h6>Site Performance Dashboard:</h6>
            <p> Keep a close watch on system health parameters like data size, processor performance, network consumption, and memory management,
                <br>ensuring peak system performance.</p>
        </div>
        <div class="site py-4">
            <h6>Population Dashboard:</h6> 
            <p>Gain insights into user behavior, access patterns, and popular content sections, empowering administrators with a 
                comprehensive understanding of user interactions.</p>
        </div>

        <h5 class="sub py-4">Manager Dashboard</h5> 
<p>Empower your leadership team with actionable insights using our TMS analytics.  <span class="fw-bold">Managers benefit from:</span></p>
<div class="site py-2">
    <h6>Training Dashboard:</h6>
    <p>
        Swiftly identify trending courses, completion rates, and learner performance, enhancing learning experiences.
    </p>
</div>
 <div class="site py-2">
    <h6>KPI Dashboard:</h6>
    <p>Visualize sales performance, revenue metrics, and cost projections, facilitating informed decision-making in strategic planning.</p>
 </div>
 <div class="site py-2">
    <h6>Resource Utilization Dashboard:</h6>
    <p>Get a quick overview of resource allocation, including classrooms, trainers, and equipment usage, optimizing resource management.</p>
 </div>
 
 <h5 class="sub py-4">Instructor Dashboard</h5>

<p>Equip instructors to refine course delivery effectively with tailored insights, <span class="fw-bold">including:</span></p>
<div class="site py-2">
    <h6>Student Performance Dashboard:</h6>
    <p>Dive deep into course progress, identifying areas for improvement and enabling personalized student support.</p>
</div>

<div class="site py-2">
    <h6>Task Dashboard:</h6>
    <p>Streamline instructor responsibilities with effective task management for student attendance, grading, and assignment deadlines.</p>
</div>
 
<h5 class="sub py-4">Management Reports</h5>
<p>Explore a plethora of customizable reports tailored to track and analyze diverse data aspects, offering valuable insights for informed decision-making.</p>

<h5 class="sub py-4">Student Dashboard</h5>
<p>A dedicated space for students to effortlessly navigate and monitor their learning journey. <span class="fw-bold">Features include:</span></p>
<div class="site py-2">
    <h6>Transcript Dashboard:</h6>
    <p>Gain a comprehensive overview of course progress and performance for informed decision-making.</p>
</div>

<div class="site py-2">
<h6>Learning Plan Dashboard:</h6>
<p>Strategically plan future courses and manage learning schedules effectively.</p>
</div>

<div class="site py-2">
<h6>Task Dashboard:</h6>
<p>Ensure timely completion of assignments and online courses, keeping students on track.</p>
</div>
 
<h5 class="sub py-4">Analytics</h5>
<p>Unleash the potential of data-driven learning strategies with comprehensive analytics, encompassing learner activities, departmental progress, course evaluations, and competencies.</p>

<h5 class="sub py-4">Course Catalog</h5>
<p>Our comprehensive course catalog showcases diverse training programs, offering seamless navigation and access to detailed course information.</p>


        
</div>
