.tms{
    padding: 20px;
    font-family: 'Nunito'; 
}
.title{
    text-align: center;
    font-weight: bold;
    color: red;
}
.sub{
    font-weight: bold;
    color: red; 
}
.site h6{
    font-weight: bold;
    color: #093f81;
}
h4, h6{
    font-weight: bold;
}
.site h6,.site p {
    display: inline;
  }
.site p{
    padding-left: 10px;
}
