<div class="text-container">
    <h1 class="main-text">It's Easy to Find your</h1>
    <h1 class="main-text2">Services & Solutions</h1>
    <p class="main-text3">Explores thousands of clients has exhibited their review by our services</p>
</div>
<div class="search-container">
    <form>
    <div class="sect"> 
        <select disabled>
            <option value="" disabled selected>Select Service Type </option>
        </select>
        <datalist id="services">
            <option value="Option 1">
            <option value="Option 2">
            <option value="Option 3">
         </datalist>
         <input type="search" placeholder="Cyber Security" list="services">
    </div>
    <div class="sect">
    <div class="verticalLine">
    </div>
    </div>
    <div class="sect">
        <select disabled>
            <option value="" disabled selected>Categories</option>
        </select>
        <datalist id="categories">
            <option value="Option 1">
            <option value="Option 2">
            <option value="Option 3">
         </datalist>
        <input type="text" placeholder="Hacking, Malware" list="categories">
    </div>
    <div class="sect">
        <button class="search">Explore</button>
    </div>
</form>
</div>


