<div class="container">
    <div class="main">
        <img class="meeting-img" src="/assets/part-five/meeting.png" alt="meeting">
        <div class="text">
            <p>Explore Our Case Studies</p>
            <h1 id="one">Innovatiq</h1>
            <h1>Challenges</h1>
            <p id="prose">The work to be done has never been done before by this group of people
                in this particular environment. Multiple expectations Each project has
               multiple stakeholders that each have their own needs and expectations for the project.</p>
            <button>Learn More <img id="arrow" src="/assets/part-five/button-arrow.png"></button>
        </div>
    </div>
</div>

