<div class="decorations">
    <img class="red-circle" src="/assets/decorations/red-circle.png" alt="red-circle">
    <img class="arrow" src="/assets/decorations/arrow.png" alt="arrow">
    <img class="yellow-circle" src="/assets/decorations/yellow-circle.png" alt="yellow-circle">
    <img class="gray-circle1" src="/assets/decorations/gray-circle.png" alt="gray-circle1">
    <img class="gray-circle2" src="/assets/decorations/gray-circle.png" alt="gray-circle2">
    <img class="brown-circle" src="/assets/decorations/brown-circle.png" alt="brown-circle">
    <img class="brown-cross1" src="/assets/decorations/brown-cross.png" alt="brown-cross">
    <img class="brown-cross2" src="/assets/decorations/brown-cross.png" alt="brown-cross">
    <img class="big-red-circle" src="/assets/decorations/big-red-circle.png">
    <img class="deco-gray-circle" src="/assets/decorations/decoration-gray-circle.png" alt="deco-gray-circle">
    <img class="deco-arrow-1" src="/assets/decorations/decoration-arrow-1.png" alt="deco-arrow-1">
    <img class="yellow-cross" src="/assets/decorations/yellow-cross.png" alt="yellow-cross">
    <img class="deco-arrow-2" src="/assets/decorations/deco-arrow-2.png" alt="deco-arrow-2">
    <img class="deco-half-gray-circle" src="/assets/decorations/deco-half-gray-circle.png" alt="deco-half-gray-circle">
    <img class="deco-arrow-3" src="/assets/decorations/deco-arrow-3.png" alt="deco-arrow-3">
    <img class="deco-yellow-circle" src="/assets/decorations/deco-yellow-circle.png" alt="deco-yellow-circle">
    <img class="deco-big-yellow-circle" src="/assets/decorations/deco-big-yellow-circle.png" alt="deco-big-yellow-cirlce">
    <img class="brown-cross3" src="/assets/decorations/brown-cross.png" alt="brown-cross">
    <img class="yellow-cross2" src="/assets/decorations/yellow-cross.png" alt="yellow-cross">
</div>



