<section class="border header">
   
    <header class="masthead">
        <div class="container">
            <div class="masthead-heading">
                <p class="fw-bold fs-1">Banking & Finance (BFSI)</p>
            </div>
           
        </div>
    </header>
</section>
<section>
<div class="container-fluid">
    <h5 class="fw-bold mt-4">Leveraging Advanced Technologies: </h5>
    <p class="mt-4 fs-5">Leveraging Advanced Technologies: Unraveling Business Challenges in Financial Institutions through AI, ML, <br> and RPA-Enabled Big Data Analytics...
</p>
<button class="back" [routerLink]="['/education']">Previous</button>
    <!-- <button class="next" [routerLink]="['/bfsi']">Next</button> -->
</div>
</section>

