<header class="shadow">
    <div class="p-2" >
     <div class="d-flex justify-content-between align-items-center">
      <div class="">
        <img class="companylogo" src="..\assets\header\company-logo.png" alt="company logo"><span class="color fw-bold">INNOVATIQ</span>
      </div>
      <div class="nav ">
        <ul class="d-flex justify-content-between align-items-center list-unstyled mt-2 ">
          <li><a class="fw-bold fs-6 ms-5 nav-link " routerLink="/service">Services</a></li>
          <li><a class="fw-bold fs-6 ms-5 nav-link " routerLink="/industries">Industries</a></li>
          <li><a class="fw-bold fs-6 ms-5 nav-link " routerLink="/about">About Innovatiq</a></li>
          <li><a class="fw-bold fs-6 ms-5 nav-link " routerLink="/career">Careers</a></li>
          <li><a class="fw-bold fs-6 ms-5 nav-link " routerLink="/contact">Contact</a></li>
        </ul>
      </div>
      <div class=""></div>
     </div>
    </div>
      </header>
