<section class="border header">
   
    <header class="masthead">
        <div class="container">
            <div class="masthead-heading">
                <p class="fw-bold fs-1">Healthcare</p>
            </div>
           
        </div>
    </header>
</section>
<section>
<div class="container-fluid">
    <h5 class="fw-bold mt-4">Our digital platform is a “Go Green” approach </h5>
    <p class="mt-4 fs-5">It has empowered hospitals and clinics in implementing paperless... 
</p>
<button class="back" [routerLink]="['/manufacturing']">Previous</button>
    <button class="next" [routerLink]="['/retail']">Next</button>
</div>
</section>

