<section class="border header">
   
    <header class="masthead">
        <div class="container">
            <div class="masthead-heading">
                <p class="fw-bold fs-1">Education</p>
            </div>
           
        </div>
    </header>
</section>
<section>
<div class="container-fluid">
    <h5 class="fw-bold mt-4">Our LMS Solution offers: </h5>
    <p class="mt-4 fs-5">Enhanced Customizations and Configurations for a Powerful and Scalable Learning Experience...
</p>
<button class="back" [routerLink]="['/retail']">Previous</button>
    <button class="next" [routerLink]="['/bfsi']">Next</button>
</div>
</section>

