<div class="container">
    <p class="title-subtext">We Are There For You</p>
    <h1 id="one" class="title">Our</h1>
    <h1 id="two" class="title">Services</h1>
    <div class="app-service-items">
        <div class="service-container">
            <div class="img-container">
                <img class="background-img" src="/assets/part-three/big-gray-circle.png">
                <img id="uiux" class="image" src="/assets/part-three/uiux.png">
            </div>
            <p id="top">STRATEGIC</p>
            <h2>UX/UI Design & Developnment</h2>
            <p id="desc">Offers a variety of benefits over the off the shelf software, especially in customization, scalability and security.</p>
            <span>Find out more <img class="caret" src="/assets/part-three/caret.png" ></span>
        </div>
        <div class="service-container">
            <div class="img-container">
                <img class="background-img" src="/assets/part-three/big-gray-circle.png">
                <img id="sd" class="image" src="/assets/part-three/softwaredev.png">
            </div>
            <p id="top">CODING IDEAS</p>
            <h2>Software Development</h2>
            <p id="desc">Our team is working using Bespoke application have the agility at the heart of your project delivery.</p>
            <span>Find out more <img class="caret" src="/assets/part-three/caret.png" ></span>
        </div>
        <div class="service-container">
            <div class="img-container">
                <img class="background-img" src="/assets/part-three/big-gray-circle.png">
                <img id="ms" class="image" src="/assets/part-three/managedservices.png">
            </div>
            <p id="top">OUTSOURCE MAINTENANCE</p>
            <h2>Managed Services</h2>
            <p id="desc">We can help you maintain the optimal state of your digital products.</p>
            <span>Find out more <img class="caret" src="/assets/part-three/caret.png" ></span>
        </div>
        <div class="service-container">
            <div class="img-container">
                <img class="background-img" src="/assets/part-three/big-gray-circle.png">
                <img id="cc" class="image" src="/assets/part-three/cloudcomputing.png">
            </div>
            <p id="top">YOUR CHOICE</p>
            <h2>Cloud Computing</h2>
            <p id="desc">Technology agnostic, our certified engineer will help you to scale your business on cloud.</p>
            <span>Find out more <img class="caret" src="/assets/part-three/caret.png" ></span>
        </div>
        <div class="service-container">
            <div class="img-container">
                <img class="background-img" src="/assets/part-three/big-gray-circle.png">
                <img id="is" class="image" src="/assets/part-three/itsecurity.png">
            </div>
            <p id="top">PROTECTION</p>
            <h2>IT Security</h2>
            <p id="desc">Innovatiq creates strategies to deliver effective enterprise security risk management solutions.</p>
            <span>Find out more <img class="caret" src="/assets/part-three/caret.png" ></span>
        </div>
    </div>
</div>
