<section class="border header">
    <!-- <div class="container bg-overlay">
        <div class="row text-center mission">
            <p class="fw-bold fs-1" style="margin-top: 100px;">Advanced IT & Network Infrastructure Services</p>
            <p class="fw-bold fs-4" style="color: red;">Integrating network infrastructure solutions for enterprise-level businesses</p>
           
            <div class="col-10">
                <div class="card create">
                    <div class="card-body">
                        <h5 class="fw-bold"> We create secure network infrastructure with a reliable solutions. Our custom-built network enables business growth, reduces operating costs by providing high-performance network connectivity for enterprise-level businesses.
                        </h5>
                    </div>
                </div>
            </div>
        </div> -->
        <header class="masthead">
            <div class="container">
                <div class="masthead-heading">
                    <p class="fw-bold fs-1" style="margin-top: 20px;">BUSINESS APPLICATION DEVELOPMENT & SUPPORT</p>
                    <!-- <p class="fs-5" style="color: white;">Integrating network infrastructure solutions for enterprise-level businesses</p> -->
                </div>
                <!-- <div class="masthead-heading text-uppercase">It's Nice To Meet You</div> -->
                <div class="col-10">
                    <div class="card create">
                        <div class="card-body">
                            <h5 class="fw-bold"> Our experts cover an entire life cycle of app development, which includes analysis, UX/UI design and development of the application from ideation to go live, integrating the new product into your infrastructure and providing optimization and scale-up on demand infrastructure.
                            </h5>
                        </div>
                    </div>
                </div>
                <!-- <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a> -->
            </div>
        </header>
    <!-- </div> -->
    <!-- <img src="assets/Service/Ellipse 30.svg" style="margin-top: -35px;margin-left: 25px;">
    <img src="assets/Service/Global Infrastructure Banner.jpg" style="width: 100%;height: 600px;margin-top: -30px;">
    <div class="container text-center">
         
        <p class="fw-bold fs-1" style="margin-top: 100px;">Cyber Security</p>
        <p class="fw-bold fs-4" style="color: red;"> Align Your Data Security and Protection with Critical Capabilities</p>
       
        <div class="col-10">
            <div class="card create">
                <div class="card-body">
                    <h5 class="fw-bold">Cybersecurity threats continue to surge, every organizations has to take dynamic steps in identifying risks and defending data.
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <!-- <img src="assets/Service/Ellipse 31.svg" style="margin-left: 93.8vw;margin-top: -9vw;"> --
    
      </div>
      <div class="col-2">
        <!-- <img src="assets/Service/Arrow 22.svg" style="margin-top: 60px;"> --
      </div>
      <div class="col-2">
        <!-- <img src="assets/Service/Ellipse 29.svg" style="margin-left: -40px;"> --
      </div>
      <div class="col-2">
        <!-- <img src="assets/Service/x- shape (2).svg" style="margin-top: -15vw;margin-left: 50vw;"> --
      </div>
      <div class="col-2">
        <!-- <img src="assets/Service/x- shape (2).svg" style="margin-top: -11vw;margin-left: 87vw;"> --
      </div> -->
</section>
<section>
    <div class="container-fluid">
        <h2 class="fw-bold"> Application development services to accelerate our customers business growth</h2>
        <p class="mt-4 fs-5"> Our agile and cross functional teams deliver world-class web and mobile applications that can release features faster, are scalable, and provide a delightful customer experience.</p>

        <div class="row" style="margin-bottom: 50px;margin-top: 30px;">
          <div class="col-4">
              <div class="card" style="width: 23rem;background-color: rgba(235, 235, 235, 1);border-radius: 20px;">
                  <!-- <div class="card-head" style="height: 50px;margin: 20px;">
                      <h5 class="fw-bold">Web Application Development</h5>
                    <p class="card-text mt-4">We begin every relationship with a comprehensive audit to understand your current computing environment. Once we complete the audit, we present you with a document outlining our findings and recommendations for addressing gaps and risks.
                  </p>
                  </div>
                  <hr> -->
                  <div class="card-body" style="height: 490px;">
                    <h5 class="fw-bold text-center mt-3">Web Application Development</h5>
                    <ul>
                      <li><p>We do end-to-end web application development services from designing, prototyping, building, & migrating on web architecture. Our design & development teams focus on creating custom web applications. 
                        </p></li>
                      
                      <li><p>
                        Our applications are secure, scalable, and responsive and visually appealing with user-centric UI/UX designs. </p></li>
                      </ul>
                      <ul>
                      <h5 class="fw-bold text-center mt-4" style="margin-left: -40px;">SaaS Product Development</h5>
                      <li><p> Our end-to-end approach to product development enables us to build a complete SaaS solution that includes web apps, APIs, cloud hosting and data storage. </p></li>
                      <!-- <li><p>Our applications are secure, scalable, and responsive and visually appealing with user-centric UI/UX designs. 
                    </p></li> -->
                      <!-- <li><p>Regular strategy meetings
                      </p></li> -->
                    </ul>
                  </div>
                </div>
                
          </div>
          <div class="col-4">
              <div class="card" style="width: 23rem;background-color: rgba(235, 235, 235, 1);border-radius: 20px;">
                  <!-- <div class="card-head" style="height: 230px;margin: 20px;">
                      <h5 class="fw-bold">Infrastructure management and technical support</h5>
                    <p class="card-text mt-4">All the planning in the world won't help you if you don't have a solid foundation.
                      Our Network Operations Center (NOC) proactively 
                      maintains and tunes your network to keep everything running in top shape.
                  </p>
                  </div> -->
                  <!-- <hr> -->
                  <div class="card-body" style="height: 490px;">
                    <h5 class="fw-bold text-center mt-3">Mobile App Development</h5>
                    <ul>
                      <li><p>Be it native or hybrid platform, we offers a complete cycle of mobile app design, integration and development services. </p></li>
                      </ul>
                      <ul>
                      <h5 class="fw-bold text-center mt-4" style="margin-left: -20px;">Other App Development services</h5>
                      <li><p>We deliver specific services which are an integral part of the end-to-end app development process. Incremental change through these services helps in building a robust application/product. 
                        </p></li>
                        <li><p> 
                            We develop these solutions from a clean slate or augment existing applications for scalability and better performance.</p></li>
                        <!-- <li><p>Critical hardware, service and system monitoring 
                      </p></li> -->
                    </ul>
                  </div>
                </div>
                
          </div>
          <div class="col-4">
              <div class="card" style="width: 23rem;background-color: rgba(235, 235, 235, 1);border-radius: 20px;">
                  <!-- <div class="card-head" style="height: 230px;margin: 20px;">
                      <h5 class="fw-bold">Proactive and reactive support</h5>
                      <p class="card-text mt-4">Relationships are our top priority. You will be assigned a dedicated Technical Account Coordinator,
                          a senior member of the Innovatiq team who will act as your primary point of contact and advocate for your success. 
                         You'll also be supported by an experienced team of systems engineers and network professionals who provide 24/7 onsite
                          and remote support.
                    </p>
                  </div>
                  <hr> -->
                  <div class="card-body" style="height: 490px;">
                    <h5 class="fw-bold text-center mt-3">Desktop Application Development</h5>
                    <ul>
                      <li><p>Our desktop application services offer a wide range of apps that focus on utility, productivity, multimedia, and more.</p></li>
                      </ul>
                      <ul>
                      <h5 class="fw-bold text-center mt-4" style="margin-left: -30px;">UI/UX Design and Development</h5>
                      <li><p>Great UX starts with you and your audience. Our research-based design approach ensures the success of your users.</p></li>
                      <!-- <li><p>Critical hardware, service and system monitoring 
                      </p></li> -->
                    </ul>
                    <ul>
                        <h5 class="fw-bold text-center mt-4" style="margin-left: -30px;">Application Maintenance & Support Services</h5>
                        <li><p>We conduct periodical quality testing and maintenance to identify bottlenecks and find areas of improvement.</p></li>
                        <!-- <li><p>Critical hardware, service and system monitoring 
                        </p></li> -->
                      </ul>
                  </div>
                </div>
                
          </div>
      </div>

    </div>
</section>

