<section class="border header">
    <div class="container p-5 text-white text-center">
        <p class="fw-bold fs-2">Advanced IT & Network Infrastructure Services</p>
        <p class="fw-bold">Our IT Infrastructure Assessment Services help customers identify those critical elements that are actually the reason for poor KPI of their IT</p>
    </div>
</section>
<section>
    <div class="container">
    <div class="row">
        <div class="col-md mt-5">
            <p class="fs-5">
                It can help to view IT Infrastructure setup, performance and compliance level. Identifes areas for improvements and helps to optimize IT resources and explore level of security.
            </p>
            <ul>
                <li>
                    Our assessment provides a roadmap for how to maximize investment by optimizing your IT, fixing security gaps, and helps comply with security standards.
                </li>
                <li class="mt-4">
                    Our complete process consulting services include IT Infrastructure assessment, risk assessment, process orientation & implementation support, validating implementation via internal & external audits, and supporting the organization to get certified on ISO 27001.
                </li>
            </ul>
        </div>
        <div class="col-md">
            <img src="assets/Service/it-infra.png" class="w-100 h-100">
        </div>
    </div>
    </div>
</section>
