<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
<div class="main">
  <!-- <app-services-header></app-services-header> -->
  <app-decorations></app-decorations>
  <div class="container">
    <div class="inner">
      <app-part-one></app-part-one>
    </div>
    <div class="inner">
      <app-part-two></app-part-two>
    </div>
    <div class="inner">
      <app-part-three></app-part-three>
    </div>
    <div class="inner">
      <app-part-four></app-part-four>
    </div>
    <div class="inner">
      <app-part-five></app-part-five>
    </div>
    <div class="inner">
      <app-part-six></app-part-six>
    </div>
  </div>
</div>
