<div class="footer">
    <div class="col-1">
        <h3>Innovatiq Technologies Ptv. Ltd</h3>
        <h2> Headquarters</h2> 
        <br>
        <h3>We provide services in Manufacturing,<br>
            Education,Healthcare, Security and<br>
            provide teams to<br>
            support organizations<br>
             on their digital<br> 
            transformation journey.</h3>
            <br>
        
        <h3><img src="assets/call.png"> +(65) 674- 20955</h3>    
        <h3><img src="assets/email.png"> info@innovatiq.com.sg</h3>
        <h3><img src="assets/global.png"> https://innovatiq.com.sg/index</h3>
        
        
    </div>
    <div class="col-2">
        <h3>OUR LOCATIONS</h3>
        <h2>Where to find us</h2>
        <br>
        <h3><img src="assets/location.png">229, Mountbatten Road<br>
        #01 11,Mountbatten Square<br>
        Singapore 398007</h3>
        
        <h3><img src="assets/map.png"></h3>
        <h3><img src="assets/map-1.png">Singapore<br>
            <img src="assets/map-1.png"> Malaysia<br>
            <img src="assets/map-1.png"> India</h3>
    </div>
    <div class="col-3">
        <h3>GET IN TOUCH</h3>
        <h2>Innovatiq Social links</h2>
        <br>
        <h3>You can find us on social media.</h3>
        <div class="social-icons">
        <img src="assets/twitter.png">
        <img src="assets/facebook.png">
        <img src="assets/linkedin.png">
        </div>  <br>  
        <h3>229, Mountbatten Road<br>
            #01 11,Mountbatten Square<br>
            Singapore 398007</h3>

    </div>
</div>

