*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
}
.footer{
 
    padding: 100px 15%;
    padding-bottom: 10px;
    display: flex;
}
.footer div{
    text-align: down;
}
 .col-2{
    flex-grow: 2;
} 
.footer div h3{
    font-size: x-small;
    font-weight: 300; 
    margin-bottom: 30px;
    letter-spacing: 1px;
}
 .col-1 div h3{
    font-size: x-small;
    display: block;
    text-decoration: none;
    text-align: end;
    margin-bottom: 10px;
} 
.footer div h2{
    color: red;
}
.col-1{
    flex-grow: 2;
} 

 /* .social-icons{
    margin-top: 30px;
    color: red; 
} */
 .social-icons img{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    
} 
.col-1 div h3 img{
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
}
.col-2 div h3 img{
    text-align: right;
}
.col-2 img{
   font-size: small;
}