<div class="row">
    <div class="col">
        <h6 style="padding-top: 5398.87px;">Innovatiq Technologies Pte. Ltd</h6>
        <h1>Headquarters</h1>
        <h6>We provide services in Manufacturing, Education,<br>
            Healthcare, Security and provide teams to support <br>
            organizations on their digital transformation journey</h6>
        <img src="assets/call.png">
        <h6 style="display: inline;padding-left: 16px;font-size: 15px;font-weight: 500;">+(65) 674- 20955</h6><br>
        <img src="assets/email.png">
        <h6 style="display: inline;padding-left: 16px;font-size: 15px;font-weight: 500;">info@innovatiq.com.sg</h6><br>
        <img src="assets/global.png">
        <h6 style="display: inline;padding-left: 16px;padding-bottom: 3vw;font-size: 15px;font-weight: 500;">
            https://innovatiq.com.sg/index</h6>
    </div>
    <div class="col">
        <h6
            style="padding-top: 5398.87px;font-size: 12px;padding-left: 120px;font-family: 'Nunito';color: #000000;letter-spacing: 0.08em;font-weight: 600;">
            OUR LOCATIONS Pte. Ltd</h6>
        <h1 style="font-size: 30px;padding-left: 120px;">Where to find us</h1>
        <img style="padding-left: 117.71px" src="assets/location.png">
        <h6 style="display: inline;padding-left: 25px;font-family: 'Nunito';
        font-style: normal;
        font-weight: 500;
        color: #000000;
        font-size: 15px;">229, Mountbatten Road<br></h6>
        <h6 style="display: inline;padding-left: 164.71px;font-family: 'Nunito';
        font-style: normal;
        font-weight: 500;
        color: #000000;
        font-size: 15px;"> #01 11,Mountbatten Square<br></h6>
        <h6 style="display: inline;padding-left: 164.71px;font-family: 'Nunito';
        font-style: normal;
        font-weight: 500;
        color: #000000;
        font-size: 15px;">Singapore 39800</h6><br>
        <img src="assets/O9FG4R0.png">
        <img src="assets/map-1.png" style="display:inline;padding-left: 1vw">
        <h6 style="display: inline;padding-left: 1vw">Singapore</h6>
        <img src="assets/map-1.png" style="display:inline;position:absolute;left: 51.5vw;padding-top: 7.5vw;">
        <h6 style="display: inline;position:absolute;left:53.5vw;padding-top: 7vw;">India</h6>
        <img src="assets/map-1.png" style="display:inline;position:absolute;left: 51.5vw;padding-top: 9.5vw;">
        <h6 style="display: inline;position:absolute;left: 53.5vw;padding-top: 9vw;">Malaysia</h6>
    </div>
    <div class="col">
        <h6 style="padding-top: 5398.87px;padding-left: 120.28px;font-size: 12px;color: #000000;font-family: 'Nunito';
        font-style: normal;
        font-weight: 600; letter-spacing: 0.08em;">GET IN TOUCH</h6>
        <h1 style="font-size: 30px;padding-left: 120.28px;font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;">Innovatiq Social links</h1>
        <h6 style="padding-left: 120.28px;color: #000000;font-family: 'Nunito';
        font-style: normal;
        font-size: 12px;
        letter-spacing: 0.08em;
        font-weight: 500;">You can find us on social media.</h6>
          <img src="assets/linkedin.png" style="padding-left: 120.28px;">
          <img src="assets/twitter.png" style="padding-left: 16px;">
          <img src="assets/facebook.png" style="padding-left: 16px;"><br>
    </div>      