<section class="border header">
    <img src="assets/Service/Ellipse 30.svg" style="margin-top: -35px;margin-left: 25px;">
    <div class="container text-center">
         
        <p class="fw-bold fs-1" style="margin-top: 100px;">Consulting Services</p>
        <p class="fw-bold fs-4" style="color: red;"> Get Your Business and IT Strategies Aligned</p>
       
        <div class="col-10">
            <div class="card create">
                <div class="card-body">
                    <h5 class="fw-bold">Consulting services helps in improving the performance, scalability and competitiveness of your organization through right technology enablement and usage. We can guide your IT and digital transformation initiatives from strategy to implementation.
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <img src="assets/Service/Ellipse 31.svg" style="margin-left: 93.8vw;margin-top: -9vw;">
    
      </div>
      <div class="col-2">
        <img src="assets/Service/Arrow 22.svg" style="margin-top: 60px;">
      </div>
      <div class="col-2">
        <img src="assets/Service/Ellipse 29.svg" style="margin-left: -40px;">
      </div>
      <div class="col-2">
        <img src="assets/Service/x- shape (2).svg" style="margin-top: -15vw;margin-left: 50vw;">
      </div>
      <div class="col-2">
        <img src="assets/Service/x- shape (2).svg" style="margin-top: -11vw;margin-left: 87vw;">
      </div>
</section>
<section>
    <div class="container">
        <img src="assets/Service/consulting.png" class="center">
    </div>
    <div class="container consulting">
        <h2 class="fw-bold">Consulting Services</h2>
        <h5 class="mt-4 fw-bold" style="color: red;">AS A MANAGED SERVICE PROVIDER (MSP), ALIGN TECHNOLOGY WITH YOUR BUSINESS GOALS TO SUPPORT A FUTURE-PROOF STRATEGY.</h5>
        <ul>
            <li>
        <p class="mt-4 fs-5">Most of our customers implement Information Technology to increase the business efficiency and productive. However, they face the challenge of managing their IT infrastructure as IT is not their core business.</p>

            </li>
            <li>
        <p class="fs-5">We ease your worries by providing our Managed Services. Our process driven Managed Service is to reduce the cost of  infrastructure management and cost of ownership to our customers.</p>

            </li>
        </ul>
        <!-- <p class="mt-4 fs-5">Most of our customers implement Information Technology to increase the business efficiency and productive. However, they face the challenge of managing their IT infrastructure as IT is not their core business.</p> -->

        <!-- <p class="fs-5">We ease your worries by providing our Managed Services. Our process driven Managed Service is to reduce the cost of  infrastructure management and cost of ownership to our customers.</p> -->
        <h4 class="mt-5 fw-bold">OUR THREE CATEGORIES OF CONSULTING SERVICES</h4>
       
         <div class="row" style="margin-bottom: 50px;margin-top: 80px;">
            <div class="col-4">
                <div class="card" style="width: 22rem;background-color: rgba(235, 235, 235, 1);border-radius: 20px;">
                    <div class="card-head" style="height: 230px;margin: 20px;">
                        <h5 class="fw-bold">Strategy and program management</h5>
                      <p class="card-text mt-4">We begin every relationship with a comprehensive audit to understand your current computing environment. Once we complete the audit, we present you with a document outlining our findings and recommendations for addressing gaps and risks.
                    </p>
                    </div>
                    <hr>
                    <div class="card-body" style="height: 230px;">
                   
                      <ul>
                        <li><p>Assigned executive sponsor</p></li>
                        <li><p>Assigned technical account manager</p></li>
                        <li><p>Initial network audit, analysis and recommendations</p></li>
                        <li><p>Regular strategy meetings
                        </p></li>
                      </ul>
                    </div>
                  </div>
                  
            </div>
            <div class="col-4">
                <div class="card" style="width: 22rem;background-color: rgba(235, 235, 235, 1);border-radius: 20px;">
                    <div class="card-head" style="height: 230px;margin: 20px;">
                        <h5 class="fw-bold">Infrastructure management and technical support</h5>
                      <p class="card-text mt-4">All the planning in the world won't help you if you don't have a solid foundation.
                        Our Network Operations Center (NOC) proactively 
                        maintains and tunes your network to keep everything running in top shape.
                    </p>
                    </div>
                    <hr>
                    <div class="card-body" style="height: 230px;">
                   
                      <ul>
                        <li><p>Infrastructure management</p></li>
                        <li><p>Proactive system and software maintenance</p></li>
                        <li><p>Networking - local and remote support</p></li>
                        <li><p>Critical hardware, service and system monitoring 
                        </p></li>
                      </ul>
                    </div>
                  </div>
                  
            </div>
            <div class="col-4">
                <div class="card" style="width: 22rem;background-color: rgba(235, 235, 235, 1);border-radius: 20px;">
                    <div class="card-head" style="height: 230px;margin: 20px;">
                        <h5 class="fw-bold">Proactive and reactive support</h5>
                        <p class="card-text mt-4">Relationships are our top priority. You will be assigned a dedicated Technical Account Coordinator,
                            a senior member of the Innovatiq team who will act as your primary point of contact and advocate for your success. 
                           You'll also be supported by an experienced team of systems engineers and network professionals who provide 24/7 onsite
                            and remote support.
                      </p>
                    </div>
                    <hr>
                    <div class="card-body" style="height: 230px;">
                      <ul>
                        <li><p>Assigned account specialist</p></li>
                        <li><p>Help Desk</p></li>
                        <li><p>Ongoing account management</p></li>
                        
                      </ul>
                    </div>
                  </div>
                  
            </div>
        </div>

    <h6 class="mt-4 fs-4 fw-bold">FUTURE - FOCUSED</h6>
    <p class="mt-3 fs-5">Solving immediate tech issues will patch holes today, but a short-term solution doesn't set you up for future success. 
        We work with you to create a fool proof technology roadmap that serves your business now AND in the future.</p>


    </div>
</section>

